Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

feat(dataset): use processing dialog for each processing used for dataset delete
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

feat(stored data): use processing dialog for delete processing
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
Due: flake8, test-unit, test-qgis

feat(stored data): use processing for associated configuration delete
  geoplateforme/processing/tools/delete_stored_data.py
Due: flake8, test-unit, test-qgis

feat(dataset): indicate deleted stored data and upload for dataset delete
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

fix(stored_data): don't ask delete of offering if no offering
  geoplateforme/processing/tools/delete_stored_data.py
Due: flake8, test-unit, test-qgis

fix(stored data): delete configuration using stored data - we don't need to check offering because they are already deleted
  geoplateforme/processing/tools/delete_stored_data.py
Due: flake8, test-unit, test-qgis

feat(changelog): update for 0.16.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

fix(provider): display subset editor only when WFS layer is valid
  geoplateforme/gui/provider/provider_dialog.py
Due: flake8, test-unit, test-qgis

feat(upload): add checkbox to deactivate local checks before upload
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/gui/upload_creation/wdg_upload_creation.ui
Due: flake8, test-unit, test-qgis

feat(processing): add nodata param in create_raster_tules_from_wms
  geoplateforme/processing/generation/create_raster_tiles_from_wms_vector.py
Due: flake8, test-unit, test-qgis

feat(generate tile): add advanced parameters for tile generation from wms
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.py
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.ui
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_status.py
Due: flake8, test-unit, test-qgis

fix(tile_generation): fix regression for select zoom level
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
Due: flake8, test-unit, test-qgis

feat(document): add double click to open document in browser
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/mdl_document.py
Due: flake8, test-unit, test-qgis

fix(dashboard): add button to delete open upload
  geoplateforme/gui/dashboard/wdg_upload_details.py
Due: flake8, test-unit, test-qgis

feat(wfs): add subset selector when loading WFS in dashboard
  geoplateforme/gui/dashboard/wdg_service_details.py
Due: flake8, test-unit, test-qgis

Update integration.md
  docs/external_plugins/integration.md
Due: pages

Update geoplateforme_fr.ts
  geoplateforme/resources/i18n/geoplateforme_fr.ts
Due: none

Update dlg_stored_data_details.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
Due: flake8, test-unit, test-qgis

fix(metadata): fix regex for metadata unique id
  geoplateforme/gui/qwp_metadata_form.py
Due: flake8, test-unit, test-qgis

fix typo in regex
  geoplateforme/gui/qwp_metadata_form.py
Due: flake8, test-unit, test-qgis

feat(external plugins): add minimum version
  docs/external_plugins/integration.md
  geoplateforme/metadata.txt
Due: pages

fix(external plugins): minimum version must be defined with ==
  docs/external_plugins/integration.md
  geoplateforme/metadata.txt
Due: pages

Update metadata.txt
  geoplateforme/metadata.txt
Due: none

Update constants.py
  geoplateforme/constants.py
Due: flake8, test-unit, test-qgis

Update BD TOPO® Extractor version to 2.0.1
  geoplateforme/metadata.txt
Due: none
