Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

update translation
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_edition.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.ui
  geotuileur/resources/i18n/geotuileur_fr.ts
  geotuileur/resources/i18n/plugin_translation.pro
Due: flake8, test-unit, test-qgis

add stored data TILE_UPDATE step
  geotuileur/api/stored_data.py
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/mdl_stored_data.py
Due: flake8, test-unit, test-qgis

use UpdateTileUploadProcessingFeedback in gui
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_edition.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
Due: flake8, test-unit, test-qgis

remove output from UploadCreationAlgorithm
  geotuileur/processing/upload_creation.py
Due: flake8, test-unit, test-qgis

add processing to update tile upload
  geotuileur/processing/provider.py
  geotuileur/processing/update_tile_upload.py
Due: flake8, test-unit, test-qgis

create UploadCreationWidget to mutualize code for upload creation and update of tile upload
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_edition.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_edition.ui
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/gui/upload_creation/qwp_upload_edition.py
  geotuileur/gui/upload_creation/qwp_upload_edition.ui
  geotuileur/gui/upload_creation/wdg_upload_creation.py
  geotuileur/gui/upload_creation/wdg_upload_creation.ui
Due: flake8, test-unit, test-qgis

add vector tile layer for published tiles
  geotuileur/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

resolved threads
  geotuileur/api/configuration.py
  geotuileur/api/offering.py
  geotuileur/api/offerings.py
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/processing/provider.py
  geotuileur/processing/unpublish.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

minor fixes
  geotuileur/api/configuration.py
  geotuileur/api/offerings.py
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/processing/unpublish.py
Due: flake8, test-unit, test-qgis

fix stored data steps definition from tags
  geotuileur/api/stored_data.py
Due: flake8, test-unit, test-qgis

add delete_tags method
  geotuileur/api/stored_data.py
Due: flake8, test-unit, test-qgis

remove publication tags after configuration and offering delete
  geotuileur/processing/unpublish.py
Due: flake8, test-unit, test-qgis

refactor
  geotuileur/api/configuration.py
  geotuileur/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

remove print
  geotuileur/api/configuration.py
Due: flake8, test-unit, test-qgis

remove log
  geotuileur/api/configuration.py
  geotuileur/api/offerings.py
Due: flake8, test-unit, test-qgis

remove log
  geotuileur/api/configuration.py
Due: flake8, test-unit, test-qgis

update version and changelog
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

review changelog so it's display in metadata
  CHANGELOG.md
Due: pages

test with git add of translation files before packaging
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

update translation
  geotuileur/resources/i18n/geotuileur_fr.ts
  geotuileur/resources/i18n/plugin_translation.pro
Due: none

update translation in ci with pylupdate5
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

update translation
  geotuileur/gui/storage/dlg_storage_report.ui
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

add deployment on translation update
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

add treemodel to display file and layers inside file
  geotuileur/gui/upload_creation/mdl_upload_files.py
  geotuileur/resources/i18n/plugin_translation.pro
Due: flake8, test-unit, test-qgis

use treemodel and treeview to display selected files
  geotuileur/gui/upload_creation/wdg_upload_creation.py
  geotuileur/gui/upload_creation/wdg_upload_creation.ui
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: flake8, test-unit, test-qgis

disable edition of selected upload file
  geotuileur/gui/upload_creation/wdg_upload_creation.py
Due: flake8, test-unit, test-qgis

add delete data processing to dashbord
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/processing/delete_data.py
  geotuileur/processing/provider.py
Due: flake8, test-unit, test-qgis

add-on related to higer Qt version
  geotuileur/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

disable edition user datastore table
  geotuileur/gui/user/wdg_user.py
Due: flake8, test-unit, test-qgis

remove back button on last page
  geotuileur/gui/upload_creation/wzd_upload_creation.py
Due: flake8, test-unit, test-qgis

check upload and stored data status after processing launch to display error to user
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

update translation
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

remove back button on last page
  geotuileur/gui/publication_creation/wzd_publication_creation.py
  geotuileur/gui/tile_creation/wzd_tile_creation.py
  geotuileur/gui/update_tile_upload/wzd_update_tile_upload.py
Due: flake8, test-unit, test-qgis

limit number of column to 2
  geotuileur/gui/tile_creation/qwp_tile_generation_generalization.py
Due: flake8, test-unit, test-qgis

limit PixmapLabel scaledPixmap size from original pixmap
  geotuileur/gui/tile_creation/qwp_tile_generation_generalization.py
Due: flake8, test-unit, test-qgis

add scroll area and limit minimum size to 500x400
  geotuileur/gui/tile_creation/qwp_tile_generation_generalization.ui
Due: none

minor fixes
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/storage/dlg_storage_report.py
  geotuileur/processing/delete_data.py
Due: flake8, test-unit, test-qgis

minor fix
  geotuileur/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

minor fixes
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

new QStandardItem model for upload list display
  geotuileur/gui/mdl_upload.py
Due: flake8, test-unit, test-qgis
