Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

Clean readme
  README.md
Due: pages

Fix static path
  docs/conf.py
  docs/static/additionnal_files/.gitkeep
Due: flake8, test-unit, test-qgis

Add private video of vimeo
  docs/index.md
Due: pages

indicates proxy for requests package use
  vectiler/api/upload.py
Due: flake8, test-unit, test-qgis, pages

add pyscocks dependency for socks5 use in requests
  requirements/development.txt
Due: none

Limit maximum version of PySocks to avoid side-effects
  requirements/development.txt
Due: none

Upgrade bug report template
  .gitlab/issue_templates/bug_report.md
Due: pages

introduced TableRelation class and add treemodel to display and check
  vectiler/api/stored_data.py
  vectiler/gui/mdl_table_relation.py
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.ui
  vectiler/toolbelt/check_state_model.py
Due: flake8, test-unit, test-qgis, pages

delete wizard after execution so a new one is created
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

add description from geotuileur website
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.ui
Due: pages

enable sort on table attribute tree widget
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
Due: flake8, test-unit, test-qgis, pages

Fix release description in tag job
  .gitignore
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Bump to 0.4.0
  CHANGELOG.md
  vectiler/metadata.txt
Due: pages

init dashboard dialog
  vectiler/gui/dashboard/__init__.py
  vectiler/gui/dashboard/dlg_dashboard.py
  vectiler/gui/dashboard/dlg_dashboard.ui
  vectiler/gui/dashboard/wdg_dashboard.py
  vectiler/gui/dashboard/wdg_dashboard.ui
  vectiler/gui/proxy_model_stored_data.py
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

add decoration role for status in name column
  vectiler/gui/dashboard/wdg_dashboard.py
  vectiler/gui/mdl_stored_data.py
  vectiler/gui/proxy_model_stored_data.py
  vectiler/resources/images/dashboard/db-generated.png
  vectiler/resources/images/dashboard/db-unstable.png
  vectiler/resources/images/dashboard/db.png
  vectiler/resources/images/dashboard/generating.png
  vectiler/resources/images/dashboard/tiles-generated.png
  vectiler/resources/images/dashboard/tiles-unstable.png
  vectiler/resources/images/dashboard/tiles.png
Due: flake8, test-unit, test-qgis, pages

use JSON file for upload creation processing
  vectiler/api/upload.py
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/qwp_upload_edition.py
  vectiler/processing/upload_creation.py
Due: flake8, test-unit, test-qgis, pages

update UploadDatabaseIntegrationAlgorithm for .json file use
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis, pages

Fix some flake8 spotted errors
  vectiler/api/stored_data.py
  vectiler/gui/mdl_table_relation.py
  vectiler/toolbelt/check_state_model.py
Due: flake8, test-unit, test-qgis, pages

Rm obsolete option
  docs/development/translation.md
Due: pages

Feature/init user dialog
  vectiler/api/client.py
  vectiler/api/user.py
  vectiler/gui/dlg_authentication.py
  vectiler/gui/dlg_settings.py
  vectiler/gui/mdl_datastore.py
  vectiler/gui/user/__init__.py
  vectiler/gui/user/dlg_user.py
  vectiler/gui/user/dlg_user.ui
  vectiler/gui/user/wdg_user.py
  vectiler/gui/user/wdg_user.ui
  vectiler/plugin_main.py
  vectiler/processing/upload_creation.py
  vectiler/resources/i18n/plugin_translation.pro
  vectiler/resources/i18n/vectiler_fr.ts
Due: flake8, test-unit, test-qgis, pages

always use stored data name for default tile name
  vectiler/gui/tile_creation/qwp_tile_generation_edition.py
Due: flake8, test-unit, test-qgis, pages

recursive requests to get all available stored data
  vectiler/api/stored_data.py
Due: flake8, test-unit, test-qgis, pages

check for upload creation before closing QWizard
  vectiler/gui/tile_creation/wzd_tile_creation.py
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/wzd_upload_creation.py
Due: flake8, test-unit, test-qgis, pages

add QTextBrowser for processing error display and refactor check before close
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/qwp_upload_creation.ui
Due: flake8, test-unit, test-qgis, pages

override closeEvent only for upload creation page
  vectiler/gui/upload_creation/wzd_upload_creation.py
Due: flake8, test-unit, test-qgis, pages

fix master merge
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

CI: Run pre-commit against branch changes
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

use json for input definition instead of QgsProcessingParameters
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/processing/tile_creation.py
Due: flake8, test-unit, test-qgis, pages

define bbox and table attributes in json for tile creation
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/processing/tile_creation.py
Due: flake8, test-unit, test-qgis, pages

add comments
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/processing/tile_creation.py
Due: flake8, test-unit, test-qgis, pages

add check of input json data
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/processing/tile_creation.py
Due: flake8, test-unit, test-qgis, pages

Bump to 0.5.0
  CHANGELOG.md
  vectiler/metadata.txt
Due: pages

Add details about releasing steps
  docs/development/packaging.md
Due: pages

Rename references from Vectiler to Geotuileur
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
  docs/development/translation.md
  docs/usage/installation.md
  geotuileur/__init__.py
  geotuileur/gui/dlg_authentication.py
  geotuileur/gui/tile_creation/qwp_tile_generation_edition.ui
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/gui/upload_creation/qwp_upload_edition.py
  geotuileur/gui/upload_creation/qwp_upload_edition.ui
  geotuileur/gui/user/dlg_user.ui
  geotuileur/metadata.txt
  geotuileur/plugin_main.py
  geotuileur/processing/__init__.py
  geotuileur/processing/check_layer.py
  geotuileur/processing/provider.py
  geotuileur/resources/i18n/plugin_translation.pro
  geotuileur/resources/i18n/vectiler_fr.ts
  geotuileur/toolbelt/preferences.py
  setup.cfg
  tests/qgis/processings/conftest.py
  tests/qgis/processings/test_check_layer.py
Due: flake8, test-unit, test-qgis, pages

init dashboard dialog
  geotuileur/gui/proxy_model_stored_data.py
  geotuileur/plugin_main.py
  vectiler/gui/dashboard/__init__.py
  vectiler/gui/dashboard/dlg_dashboard.py
  vectiler/gui/dashboard/dlg_dashboard.ui
  vectiler/gui/dashboard/wdg_dashboard.py
  vectiler/gui/dashboard/wdg_dashboard.ui
Due: flake8, test-unit, test-qgis, pages

add decoration role for status in name column
  geotuileur/gui/mdl_stored_data.py
  geotuileur/gui/proxy_model_stored_data.py
  geotuileur/resources/images/dashboard/db-generated.png
  geotuileur/resources/images/dashboard/db-unstable.png
  geotuileur/resources/images/dashboard/db.png
  geotuileur/resources/images/dashboard/generating.png
  geotuileur/resources/images/dashboard/tiles-generated.png
  geotuileur/resources/images/dashboard/tiles-unstable.png
  geotuileur/resources/images/dashboard/tiles.png
  vectiler/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis, pages

fix master merge
  geotuileur/plugin_main.py
Due: flake8, test-unit, test-qgis

Move dashboard to geotuileur
  geotuileur/gui/dashboard/__init__.py
  geotuileur/gui/dashboard/dlg_dashboard.py
  geotuileur/gui/dashboard/dlg_dashboard.ui
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/dashboard/wdg_dashboard.ui
Due: flake8, test-unit, test-qgis

Fix import
  geotuileur/plugin_main.py
Due: flake8, test-unit, test-qgis

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
