Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

round scale for zoom level informations
  geotuileur/gui/tile_creation/qwp_tile_generation_edition.py
Due: flake8, test-unit, test-qgis

Bump to 0.10.0
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

Move exceptions from UploadRequestManager into independent module
  geotuileur/api/client.py
  geotuileur/api/custom_exceptions.py
  geotuileur/api/upload.py
  geotuileur/gui/mdl_upload.py
  geotuileur/gui/report/dlg_report.py
  geotuileur/gui/report/mdl_upload_details.py
  geotuileur/gui/report/wdg_upload_log.py
  geotuileur/gui/storage/dlg_storage_report.py
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/processing/upload_creation.py
  geotuileur/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

Catch get api token error
  geotuileur/api/client.py
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

Fix missing tr
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

add logs for rest API
  geotuileur/api/check.py
  geotuileur/api/configuration.py
  geotuileur/api/datastore.py
  geotuileur/api/offerings.py
  geotuileur/api/processing.py
  geotuileur/api/stored_data.py
  geotuileur/api/upload.py
  geotuileur/api/user.py
Due: flake8, test-unit, test-qgis

Move exceptions out of check module
  geotuileur/api/check.py
  geotuileur/api/custom_exceptions.py
  geotuileur/api/upload.py
  geotuileur/gui/report/wdg_execution_log.py
Due: flake8, test-unit, test-qgis

fix timer duration with plugin settings (in seconds)
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

add plugin option for sleep duration for status update
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/processing/tile_creation.py
  geotuileur/processing/upload_creation.py
  geotuileur/processing/upload_database_integration.py
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

add sleep when waiting for upload and stored data status
  geotuileur/processing/upload_creation.py
  geotuileur/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

Fix unused check (@jmkerloch comment)
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

Move configuration exceptions into dedicated module
  geotuileur/api/configuration.py
  geotuileur/api/custom_exceptions.py
  geotuileur/gui/update_publication/qwp_update_publication_form.py
  geotuileur/processing/unpublish.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

Move exception from datastore
  geotuileur/api/custom_exceptions.py
  geotuileur/api/datastore.py
  geotuileur/gui/storage/dlg_storage_report.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

encode password QUr
  geotuileur/api/client.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

minor fix
  geotuileur/api/client.py
Due: flake8, test-unit, test-qgis

Move exceptions from offering
  geotuileur/api/custom_exceptions.py
  geotuileur/api/offerings.py
  geotuileur/processing/delete_data.py
  geotuileur/processing/unpublish.py
Due: flake8, test-unit, test-qgis

Fix renamed exceptions
  geotuileur/api/datastore.py
Due: flake8, test-unit, test-qgis

Move processing exceptions to module
  geotuileur/api/custom_exceptions.py
  geotuileur/api/offerings.py
  geotuileur/api/processing.py
  geotuileur/gui/report/dlg_report.py
  geotuileur/gui/report/wdg_execution_log.py
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/processing/tile_creation.py
  geotuileur/processing/update_tile_upload.py
  geotuileur/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

Move stored_data exceptions to module
  geotuileur/api/custom_exceptions.py
  geotuileur/api/stored_data.py
  geotuileur/gui/mdl_stored_data.py
  geotuileur/gui/mdl_table_relation.py
  geotuileur/gui/publication_creation/qwp_status.py
  geotuileur/gui/report/dlg_report.py
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_publication/qwp_update_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/processing/delete_data.py
  geotuileur/processing/tile_creation.py
  geotuileur/processing/unpublish.py
  geotuileur/processing/update_tile_upload.py
  geotuileur/processing/upload_database_integration.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

Move exceptions from user
  geotuileur/api/custom_exceptions.py
  geotuileur/api/user.py
  geotuileur/gui/dlg_authentication.py
  geotuileur/gui/dlg_settings.py
  geotuileur/gui/mdl_datastore.py
  geotuileur/gui/user/dlg_user.py
Due: flake8, test-unit, test-qgis

Bump to version 0.11.0
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

Logo GeoTuileur
  geotuileur/resources/images/logo-geotuileur.svg
Due: none

Various version of the logo
  geotuileur/resources/images/logo-geotuileur-rectangle.png
  geotuileur/resources/images/logo-geotuileur-rectangle.svg
  geotuileur/resources/images/logo-geotuileur-without-text.png
  geotuileur/resources/images/logo-geotuileur-without-text.svg
  geotuileur/resources/images/logo-geotuileur.png
  geotuileur/resources/images/logo-geotuileur.svg
Due: none

Use icon from metadata.txt
  geotuileur/gui/dlg_settings.py
  geotuileur/processing/provider.py
Due: flake8, test-unit, test-qgis

Use new logo made by @sbeorchia #97
  geotuileur/metadata.txt
Due: none

Rm default icon of templater
  geotuileur/resources/images/default_icon.png
Due: none

typo
  docs/usage/installation.md
Due: pages

Enable ogp image
  docs/conf.py
  docs/static/images/geotuileur_accueil.png
  docs/static/images/geotuileur_portail_capture.png
Due: flake8, test-unit, test-qgis

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
