Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

add processing for upload integration in database
  vectiler/api/processing.py
  vectiler/api/stored_data.py
  vectiler/processing/provider.py
  vectiler/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis, pages

minor fixes
  vectiler/gui/wzd_import.py
  vectiler/gui/wzd_import.ui
Due: flake8, test-unit, test-qgis, pages

small refactor
  vectiler/gui/wzd_import.py
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

Feature/import data
  vectiler/gui/cbx_datastore.py
  vectiler/gui/qwp_upload_creation.py
  vectiler/gui/qwp_upload_creation.ui
  vectiler/gui/qwp_upload_edition.py
  vectiler/gui/qwp_upload_edition.ui
  vectiler/gui/wzd_import.py
  vectiler/gui/wzd_import.ui
  vectiler/processing/upload_creation.py
  vectiler/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis, pages

Feature/wait for upload close
  vectiler/api/check.py
  vectiler/api/upload.py
  vectiler/gui/mdl_execution_map.py
  vectiler/gui/qwp_upload_creation.py
  vectiler/gui/qwp_upload_creation.ui
Due: flake8, test-unit, test-qgis, pages

add stored data visualization combobox
  vectiler/api/stored_data.py
  vectiler/gui/cbx_stored_data.py
  vectiler/gui/mdl_stored_data.py
  vectiler/gui/proxy_model_stored_data.py
  vectiler/gui/wzd_configuration.py
  vectiler/gui/wzd_configuration.ui
Due: flake8, test-unit, test-qgis, pages

get fields from stored data
  vectiler/api/stored_data.py
  vectiler/gui/mdl_stored_data.py
  vectiler/gui/qwp_tile_generation_edition.py
  vectiler/gui/qwp_tile_generation_edition.ui
  vectiler/gui/qwp_tile_generation_fields_selection.py
  vectiler/gui/qwp_tile_generation_fields_selection.ui
  vectiler/gui/wzd_configuration.py
  vectiler/gui/wzd_configuration.ui
Due: flake8, test-unit, test-qgis, pages

Feature/generalization process wizard
  vectiler/gui/qwp_tile_generation_generalization.py
  vectiler/gui/qwp_tile_generation_generalization.ui
  vectiler/gui/wzd_configuration.py
Due: flake8, test-unit, test-qgis, pages

Feature/tile creation processing
  vectiler/api/stored_data.py
  vectiler/processing/provider.py
  vectiler/processing/tile_creation.py
Due: flake8, test-unit, test-qgis, pages

Feature/tile creation wizard page
  vectiler/api/check.py
  vectiler/api/execution.py
  vectiler/api/processing.py
  vectiler/api/stored_data.py
  vectiler/api/upload.py
  vectiler/gui/mdl_execution_list.py
  vectiler/gui/mdl_execution_map.py
  vectiler/gui/qwp_tile_generation_edition.py
  vectiler/gui/qwp_tile_generation_fields_selection.py
  vectiler/gui/qwp_tile_generation_status.py
  vectiler/gui/qwp_tile_generation_status.ui
  vectiler/gui/qwp_upload_creation.py
  vectiler/gui/qwp_upload_creation.ui
  vectiler/gui/wzd_configuration.py
Due: flake8, test-unit, test-qgis, pages

Feature/define zoom level for tile creation
  vectiler/gui/qwp_tile_generation_edition.py
  vectiler/gui/qwp_tile_generation_edition.ui
  vectiler/processing/tile_creation.py
  vectiler/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis, pages

Feature/refactoring
  vectiler/gui/tile_creation/__init__.py
  vectiler/gui/tile_creation/qwp_tile_generation_edition.py
  vectiler/gui/tile_creation/qwp_tile_generation_edition.ui
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.ui
  vectiler/gui/tile_creation/qwp_tile_generation_generalization.py
  vectiler/gui/tile_creation/qwp_tile_generation_generalization.ui
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.ui
  vectiler/gui/tile_creation/wzd_tile_creation.py
  vectiler/gui/upload_creation/__init__.py
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/qwp_upload_creation.ui
  vectiler/gui/upload_creation/qwp_upload_edition.py
  vectiler/gui/upload_creation/qwp_upload_edition.ui
  vectiler/gui/upload_creation/wzd_upload_creation.py
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

Feature/review upload processing gui integration
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/qwp_upload_creation.ui
  vectiler/gui/upload_creation/qwp_upload_edition.py
  vectiler/gui/upload_creation/qwp_upload_edition.ui
  vectiler/gui/upload_creation/wzd_upload_creation.py
  vectiler/resources/images/loading.gif
Due: flake8, test-unit, test-qgis, pages

Feature/review tile creation processing integration
  vectiler/gui/tile_creation/qwp_tile_generation_edition.py
  vectiler/gui/tile_creation/qwp_tile_generation_generalization.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.ui
  vectiler/gui/tile_creation/wzd_tile_creation.py
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/processing/tile_creation.py
  vectiler/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis, pages

Bump git hooks
  .pre-commit-config.yaml
Due: none

Bump dependencies
  requirements/documentation.txt
Due: pages

Blacking code
  tests/qgis/processings/conftest.py
  tests/qgis/processings/test_check_layer.py
  vectiler/api/check.py
  vectiler/api/client.py
  vectiler/api/processing.py
  vectiler/api/stored_data.py
  vectiler/api/upload.py
  vectiler/gui/cbx_datastore.py
  vectiler/gui/cbx_stored_data.py
  vectiler/gui/dlg_authentication.py
  vectiler/gui/dlg_settings.py
  vectiler/gui/mdl_execution_list.py
  vectiler/gui/mdl_stored_data.py
  vectiler/gui/proxy_model_stored_data.py
  vectiler/gui/tile_creation/qwp_tile_generation_edition.py
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
  vectiler/gui/tile_creation/qwp_tile_generation_generalization.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/gui/tile_creation/wzd_tile_creation.py
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/qwp_upload_edition.py
  vectiler/gui/upload_creation/wzd_upload_creation.py
  vectiler/plugin_main.py
  vectiler/processing/check_layer.py
  vectiler/processing/provider.py
  vectiler/processing/tile_creation.py
  vectiler/processing/upload_creation.py
  vectiler/processing/upload_database_integration.py
  vectiler/toolbelt/preferences.py
  vectiler/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis, pages

Sorting imports
  tests/qgis/processings/test_check_layer.py
  vectiler/api/processing.py
  vectiler/api/stored_data.py
  vectiler/api/upload.py
  vectiler/gui/dlg_authentication.py
  vectiler/gui/mdl_datastore.py
  vectiler/gui/mdl_stored_data.py
  vectiler/gui/proxy_model_stored_data.py
  vectiler/gui/tile_creation/qwp_tile_generation_edition.py
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
  vectiler/gui/tile_creation/qwp_tile_generation_generalization.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/qwp_upload_edition.py
  vectiler/gui/upload_creation/wzd_upload_creation.py
  vectiler/plugin_main.py
  vectiler/processing/check_layer.py
  vectiler/processing/tile_creation.py
  vectiler/processing/upload_creation.py
  vectiler/processing/upload_database_integration.py
  vectiler/toolbelt/preferences.py
  vectiler/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis, pages

Fix end of files
  vectiler/resources/images/dashboard/db-generated.svg
  vectiler/resources/images/dashboard/db-unstable.svg
  vectiler/resources/images/dashboard/db.svg
  vectiler/resources/images/dashboard/generating.svg
  vectiler/resources/images/datastore/Workspace.svg
  vectiler/resources/images/datastore/bac-a-sable.svg
  vectiler/resources/images/icons/Add.svg
  vectiler/resources/images/icons/Arrow Right.svg
  vectiler/resources/images/icons/Close.svg
  vectiler/resources/images/icons/Configuration.svg
  vectiler/resources/images/icons/Description.svg
  vectiler/resources/images/icons/Diffuser.svg
  vectiler/resources/images/icons/Done.svg
  vectiler/resources/images/icons/Drag.svg
  vectiler/resources/images/icons/Info.svg
  vectiler/resources/images/icons/KO.svg
  vectiler/resources/images/icons/Link.svg
  vectiler/resources/images/icons/Map.svg
  vectiler/resources/images/icons/Menu.svg
  vectiler/resources/images/icons/OK-ON.svg
  vectiler/resources/images/icons/Out.svg
  vectiler/resources/images/icons/Pas voir.svg
  vectiler/resources/images/icons/Personnaliser.svg
  vectiler/resources/images/icons/Publie.svg
  vectiler/resources/images/icons/Search.svg
  vectiler/resources/images/icons/Star Copy 4.svg
  vectiler/resources/images/icons/Star.svg
  vectiler/resources/images/icons/Supprimer.svg
  vectiler/resources/images/icons/Trier.svg
  vectiler/resources/images/icons/User.svg
  vectiler/resources/images/icons/Voir.svg
  vectiler/resources/images/icons/Zoom.svg
  vectiler/resources/images/icons/drag'n drop.svg
  vectiler/resources/images/icons/update1.svg
  vectiler/resources/images/icons/update2.svg
  vectiler/resources/images/logo-republique-francaise.svg
Due: pages

Remove useless encoding pragma
  vectiler/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis, pages

Fix imports and typing
  vectiler/gui/proxy_model_stored_data.py
Due: flake8, test-unit, test-qgis, pages

Fix format missing replacement
  tests/qgis/processings/test_check_layer.py
Due: flake8, test-unit, test-qgis

clean imports and fix typing
  vectiler/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis, pages

Fix type hint and imports
  vectiler/api/stored_data.py
Due: flake8, test-unit, test-qgis, pages

Fix static filename in HTTP multipart
  vectiler/api/upload.py
Due: flake8, test-unit, test-qgis, pages

Multiple fixes of flake8
  tests/qgis/processings/test_check_layer.py
  vectiler/api/check.py
  vectiler/api/client.py
  vectiler/api/processing.py
  vectiler/api/upload.py
  vectiler/gui/cbx_datastore.py
  vectiler/gui/cbx_stored_data.py
  vectiler/gui/dlg_authentication.py
  vectiler/gui/dlg_settings.py
  vectiler/gui/mdl_datastore.py
  vectiler/gui/mdl_execution_list.py
  vectiler/gui/mdl_stored_data.py
  vectiler/gui/tile_creation/qwp_tile_generation_edition.py
  vectiler/gui/tile_creation/qwp_tile_generation_fields_selection.py
  vectiler/gui/tile_creation/qwp_tile_generation_generalization.py
  vectiler/gui/tile_creation/qwp_tile_generation_status.py
  vectiler/gui/tile_creation/wzd_tile_creation.py
  vectiler/gui/upload_creation/qwp_upload_creation.py
  vectiler/gui/upload_creation/qwp_upload_edition.py
  vectiler/gui/upload_creation/wzd_upload_creation.py
  vectiler/processing/check_layer.py
  vectiler/processing/tile_creation.py
  vectiler/processing/upload_creation.py
  vectiler/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis, pages

Bump version to 0.3.0
  vectiler/metadata.txt
Due: pages

Add 0.3.0 to changelog
  CHANGELOG.md
Due: pages

Minor fixes
  vectiler/api/processing.py
  vectiler/processing/upload_creation.py
  vectiler/toolbelt/translator.py
Due: flake8, test-unit, test-qgis, pages

Fix help redirection
  vectiler/resources/help/index.html
Due: pages

Update translation sources and forms
  vectiler/resources/i18n/plugin_translation.pro
Due: pages

Improve some texts
  vectiler/gui/dlg_authentication.ui
  vectiler/gui/dlg_settings.ui
Due: pages

Use plugin title
  vectiler/processing/provider.py
Due: flake8, test-unit, test-qgis, pages

Add fr translation WIP
  vectiler/resources/i18n/vectiler_fr.ts
Due: pages

Complete changelog
  CHANGELOG.md
Due: pages

invalid – use in tippecanoe option, replaced by -
  vectiler/gui/tile_creation/qwp_tile_generation_generalization.py
Due: flake8, test-unit, test-qgis, pages

Fix #28 setting strong focus on connection button
  vectiler/gui/dlg_authentication.ui
Due: pages

Rm unused help/index.html
  vectiler/resources/help/index.html
Due: pages

Fix #48. Diretcly open documentation URL
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages
