Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

feat(ci): force lint run if only metadata.txt is updated (needed for release PR merge)
  .github/workflows/linter.yml
Due: none

feat(publish wfs): init processing
  geoplateforme/processing/provider.py
  geoplateforme/processing/wfs_publication.py
Due: flake8, test-unit, test-qgis

feat(publish WMS): refactor configuration and define used_data in processing
  geoplateforme/api/configuration.py
  geoplateforme/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

feat(wfs publish): add widget to define relations
  geoplateforme/api/configuration.py
  geoplateforme/gui/wfs_publication/wdg_table_relation.py
  geoplateforme/gui/wfs_publication/wdg_table_relation.ui
Due: flake8, test-unit, test-qgis

feat(publish): move publication form to geoplateforme/gui
  geoplateforme/gui/publication_creation/qwp_publication_form.ui
  geoplateforme/gui/update_publication/qwp_update_publication.ui
  geoplateforme/gui/wdg_publication_form.py
  geoplateforme/gui/wdg_publication_form.ui
Due: flake8, test-unit, test-qgis

feat(wfs publish): use explicit constant names for relation creation
  geoplateforme/processing/wfs_publication.py
Due: flake8, test-unit, test-qgis

feat(wfs publish): don't add null value for table relation
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.py
Due: flake8, test-unit, test-qgis

feat(wfs publish): first version of wizard for publication
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/wfs_publication/qwp_publication_form.py
  geoplateforme/gui/wfs_publication/qwp_publication_form.ui
  geoplateforme/gui/wfs_publication/qwp_table_relation.py
  geoplateforme/gui/wfs_publication/qwp_table_relation.ui
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.py
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.ui
  geoplateforme/gui/wfs_publication/wzd_publication_creation.py
Due: flake8, test-unit, test-qgis

feat(wfs publication): update title and check table relation content
  geoplateforme/gui/wfs_publication/qwp_publication_form.py
  geoplateforme/gui/wfs_publication/qwp_table_relation.py
  geoplateforme/gui/wfs_publication/qwp_table_relation.ui
Due: flake8, test-unit, test-qgis

fix(metadata): use temporary file name only but not with context - needed on windows to avoid lock on temp file - QgsFileDownloader can't download to a locked file
  geoplateforme/api/metadata.py
Due: flake8, test-unit, test-qgis

feat(network manager): avoid self use to get download error
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

fix(metadata): add try except to be more robust on reading metadata
  geoplateforme/api/metadata.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.5.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

fix(network manager): don't push log in message bar to avoid crashes in Windows
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

fix(upload): set datasetname in tags
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

fix(upload): invalid input param for VectorDatabaseCreationAlgorithm.FILES - can't use direct list[str] must be converted to str with ";".join
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

fix(upload): force definition of crs by user for upload creation
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/processing/upload_from_layers.py
  geoplateforme/processing/vector_db_creation.py
  geoplateforme/resources/help/upload_from_layers.md
  geoplateforme/resources/help/vector_db_creation.md
Due: flake8, test-unit, test-qgis, pages

feat(network manager): new data option to add data to multipart
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

feat(static): init StaticRequestManager
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/static.py
Due: flake8, test-unit, test-qgis

feat(static creation): init geoserver style creation
  geoplateforme/processing/create_geoserver_style.py
  geoplateforme/processing/provider.py
Due: flake8, test-unit, test-qgis

feat(static): add doc for geoserver style creation
  docs/usage/processings.md
  geoplateforme/processing/create_geoserver_style.py
  geoplateforme/resources/help/create_geoserver_style.md
Due: flake8, test-unit, test-qgis, pages

feat(static): only use not null value for post
  geoplateforme/api/static.py
Due: flake8, test-unit, test-qgis

feat(network): remove dead code
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

feat(sld downgrade): simple processing from 1.1.0 to 1.0.0
  geoplateforme/processing/provider.py
  geoplateforme/processing/sld11-10.xsl
  geoplateforme/processing/sld_downgrade.py
Due: flake8, test-unit, test-qgis

feat(sld downgrade): add documentation
  docs/usage/processings.md
  geoplateforme/resources/help/sld_downgrade.md
Due: pages

fix(upload): always use temporary file for gpkg layers to avoid upload of other layers
  geoplateforme/processing/upload_from_layers.py
Due: flake8, test-unit, test-qgis

feat(upload): add option to wait for database integration
  geoplateforme/processing/upload_database_integration.py
  geoplateforme/resources/help/upload_database_integration.md
Due: flake8, test-unit, test-qgis, pages

feat(upload): add option to wait for upload close
  geoplateforme/processing/upload_from_files.py
  geoplateforme/resources/help/upload_database_integration.md
  geoplateforme/resources/help/upload_from_files.md
Due: flake8, test-unit, test-qgis, pages

feat(upload): add option to wait for upload close
  geoplateforme/processing/upload_from_layers.py
  geoplateforme/resources/help/upload_from_layers.md
Due: flake8, test-unit, test-qgis, pages

feat(vector db): use options to wait for upload and database creation
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(upload): stop use of VectorDatabaseCreationAlgorithm - create upload with GpfUploadFromLayersAlgorithm - wait for upload close - create stored data UploadDatabaseIntegrationAlgorithm
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

fix(dataset): show dataset with only upload
  geoplateforme/gui/mdl_dataset.py
Due: flake8, test-unit, test-qgis

feat(upload): add wizard for vector db generation
  geoplateforme/gui/dashboard/wdg_upload_details.py
  geoplateforme/gui/upload_database_integration/qwp_upload_database_integration.py
  geoplateforme/gui/upload_database_integration/qwp_upload_database_integration.ui
  geoplateforme/gui/upload_database_integration/qwp_vector_db_edition.py
  geoplateforme/gui/upload_database_integration/qwp_vector_db_edition.ui
  geoplateforme/gui/upload_database_integration/wzd_upload_database_integration.py
Due: flake8, test-unit, test-qgis

feat(vector db): select vector db after generation launch
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_upload_details.py
  geoplateforme/gui/upload_database_integration/qwp_upload_database_integration.py
  geoplateforme/gui/upload_database_integration/wzd_upload_database_integration.py
Due: flake8, test-unit, test-qgis

feat(tms): select stored data after generation launch
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/tile_creation/wzd_tile_creation.py
Due: flake8, test-unit, test-qgis

feat(tile): add option to wait for tile generation
  geoplateforme/processing/tile_creation.py
  geoplateforme/resources/help/tile_creation.md
Due: flake8, test-unit, test-qgis, pages

feat(tile): get created stored data just after processing launch
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
Due: flake8, test-unit, test-qgis

feat(upload): add tag for upload integration steps
  geoplateforme/processing/upload_database_integration.py
  geoplateforme/processing/upload_from_files.py
Due: flake8, test-unit, test-qgis

feat(plugin): move to plugin menu instead of web menu
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(plugin): add action to report issue in plugin menu
  geoplateforme/gui/dlg_settings.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
