Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

feat(publish): disable back button if publication is sucessful
  geoplateforme/gui/publication_creation/qwp_status.py
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.py
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_publication_status.py
  geoplateforme/gui/wms_vector_publication/qwp_wms_vector_publication_status.py
  geoplateforme/gui/wmts_publication/qwp_wmts_publication_status.py
Due: flake8, test-unit, test-qgis

feat(ui): initialization translation
  geoplateforme/plugin_main.py
  geoplateforme/resources/i18n/geoplateforme_en.ts
  geoplateforme/resources/i18n/geoplateforme_fr.ts
  geoplateforme/resources/i18n/geotuileur_fr.ts
  geoplateforme/resources/i18n/plugin_translation.pro
Due: flake8, test-unit, test-qgis

feat(ui): add translation for metadata widget
  geoplateforme/gui/metadata/wdg_metadata_details.py
  geoplateforme/resources/i18n/geoplateforme_en.ts
  geoplateforme/resources/i18n/geoplateforme_fr.ts
  geoplateforme/resources/i18n/plugin_translation.pro
Due: flake8, test-unit, test-qgis

fix(ui): remove row stretch for status label
  geoplateforme/gui/dashboard/wdg_service_details.ui
Due: none

doc(plugins): add doc for external plugins add
  docs/external_plugins/integration.md
  docs/index.md
Due: pages

Apply suggestions from code review
  docs/usage/how_to_use.md
Due: pages

fix(offering model): use /datastore/{datastore]/offerings to get list of offering if no dataset defined
  geoplateforme/gui/mdl_offering.py
Due: flake8, test-unit, test-qgis

fix(api): check if bool value is None before asking for update from API
  geoplateforme/api/metadata.py
  geoplateforme/api/offerings.py
Due: flake8, test-unit, test-qgis

feat(offerring): add option for open filter
  geoplateforme/api/offerings.py
Due: flake8, test-unit, test-qgis

feat(permission): read only closed offering for display
  geoplateforme/gui/mdl_offering.py
  geoplateforme/gui/permissions/wdg_permission.py
  geoplateforme/gui/permissions/wdg_permission_creation.py
Due: flake8, test-unit, test-qgis

feat(dashboard): run metadata update in QgsTask
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

feat(dashboard): disable widget during refresh and update model in a QgsTask
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

feat(dashboard): don't display task for update in taskmanager
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

fix(dashboard): force update of dataset after creation
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

feat(upload): define minimum height for wizard
  geoplateforme/gui/upload_creation/wzd_upload_creation.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.14.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

fix(changelog): no subtitle for QGIS plugins installer and remove tooling info
  CHANGELOG.md
Due: pages

fix(dashboard): Insensitive sort for dataset
  geoplateforme/gui/cbx_dataset.py
Due: flake8, test-unit, test-qgis

feat(provider): add better metadata UI and add pagination for advanced search
  geoplateforme/gui/provider/mdl_search_result.py
  geoplateforme/gui/provider/provider_dialog.py
  geoplateforme/gui/provider/provider_dialog.ui
Due: flake8, test-unit, test-qgis

fix(thematics): fix typo for better sorting
  geoplateforme/constants.py
Due: flake8, test-unit, test-qgis

fix reviews
  geoplateforme/gui/provider/mdl_search_result.py
  geoplateforme/gui/provider/provider_dialog.py
Due: flake8, test-unit, test-qgis

feat(provider): add param to set nb_max_results for simple search
  geoplateforme/gui/provider/mdl_search_result.py
  geoplateforme/gui/provider/provider_dialog.py
  geoplateforme/gui/provider/provider_dialog.ui
Due: flake8, test-unit, test-qgis

feat(upload): add option to define multi geom tables - automatic definition by parsing selected layers
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/gui/upload_creation/wdg_upload_creation.ui
  geoplateforme/processing/generation/upload_database_integration.py
  geoplateforme/resources/help/upload_database_integration.md
Due: flake8, test-unit, test-qgis, pages

feat(vectordb): add option to define multi geom tables
  geoplateforme/gui/upload_database_integration/qwp_upload_database_integration.py
  geoplateforme/gui/upload_database_integration/qwp_vector_db_edition.py
  geoplateforme/gui/upload_database_integration/qwp_vector_db_edition.ui
Due: flake8, test-unit, test-qgis

fix(metadata): fix metadata url generation and display
  geoplateforme/api/metadata.py
  geoplateforme/gui/metadata/wdg_metadata_details.py
Due: flake8, test-unit, test-qgis

feat(menu): add separator before external plugin actions
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(check): add translation
  geoplateforme/resources/i18n/geoplateforme_en.ts
  geoplateforme/resources/i18n/geoplateforme_fr.ts
Due: none

feat(check): use all layers for check before upload and add some checks - add geometry check with qgis:checkvalidity - add bbox check
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/processing/tools/check_layer.py
  geoplateforme/resources/help/check_layers.md
Due: flake8, test-unit, test-qgis, pages

feat(check): check number of feature instead of bbox
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/processing/tools/check_layer.py
  geoplateforme/resources/help/check_layers.md
  geoplateforme/resources/i18n/geoplateforme_en.ts
  geoplateforme/resources/i18n/geoplateforme_fr.ts
  tests/qgis/processings/test_check_layer.py
Due: flake8, test-unit, test-qgis, pages

feat(check): add test for empty layer
  tests/qgis/processings/test_check_layer.py
Due: flake8, test-unit, test-qgis

feat(check): mutualize code for multigeom layer names
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
Due: flake8, test-unit, test-qgis

update(packaging): declare plugin ready for QGIS 4
  geoplateforme/metadata.txt
Due: none

improve(i18n): minor translation harmonization
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/plugin_main.py
  geoplateforme/resources/i18n/geoplateforme_en.ts
  geoplateforme/resources/i18n/geoplateforme_fr.ts
  geoplateforme/resources/i18n/plugin_translation.pro
Due: flake8, test-unit, test-qgis

update(docs): complete integration criteria and a dedicated issue form (#299)
  .github/ISSUE_TEMPLATE/20_integration_request.yml
  .vscode/settings.json
  docs/conf.py
  docs/external_plugins/integration.md
  docs/static/images/menu_with_subplugins.png
  docs/static/images/qgis_install_subplugins.png
  docs/usage/how_to_use.md
  requirements/documentation.txt
Due: flake8, test-unit, test-qgis, pages

fix(docs): hyperlink to issue form to submit a thierd-party plugin was wrong
  docs/external_plugins/integration.md
Due: pages

feat(raster tiles): add option to define api key for private WMS-Vector use
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.py
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.ui
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_status.py
  geoplateforme/processing/generation/create_raster_tiles_from_wms_vector.py
Due: flake8, test-unit, test-qgis

fix(wms vector): remove ?GetCapabilities for private service load
  geoplateforme/gui/dashboard/wdg_service_details.py
Due: flake8, test-unit, test-qgis

feat(pyr raster): add doc for parallelization
  geoplateforme/resources/help/raster_tiles_from_wms_vector.md
Due: pages

feat(pyr raster): add parallelization option and update harvest for transparent option
  geoplateforme/processing/generation/create_raster_tiles_from_wms_vector.py
Due: flake8, test-unit, test-qgis

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
