Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

feat(wms raster): use new AbstractPublishServicePage class for metadata create and publish
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_publication_status.py
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_publication_status.ui
  geoplateforme/gui/wms_raster_publication/wzd_publication_creation.py
Due: flake8, test-unit, test-qgis

feat(sld creation): add wait cursor during generation
  geoplateforme/gui/styles/wdg_sld_selection.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.12.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

feat(offering): allow delete of UNSTABLE offerings
  geoplateforme/gui/dashboard/wdg_service_details.py
Due: flake8, test-unit, test-qgis

feat(wfs): add validator for public name
  geoplateforme/gui/wfs_publication/wdg_table_relation.py
Due: flake8, test-unit, test-qgis

fix(qt6): update enum use for qt6 compatibility
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/mdl_upload.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_generalization.py
  geoplateforme/gui/upload_creation/mdl_upload_files.py
Due: flake8, test-unit, test-qgis

Update wdg_permission.ui
  geoplateforme/gui/permissions/wdg_permission.ui
Due: none

Update wdg_user_key.ui
  geoplateforme/gui/user_keys/wdg_user_key.ui
Due: none

Update provider_dialog.ui
  geoplateforme/gui/provider/provider_dialog.ui
Due: none

fix(qt6): no url param for QNetworkRequest
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

fix(qt6): replace DecorationRole enum
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/mdl_upload.py
  geoplateforme/gui/report/mdl_upload_details.py
  geoplateforme/gui/upload_creation/mdl_upload_files.py
Due: flake8, test-unit, test-qgis

fix(qt6): replace UserRole enum
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

fix(qt6): QByteArray must use bytes not str : need to encode str
  geoplateforme/api/configuration.py
  geoplateforme/api/metadata.py
  geoplateforme/api/offerings.py
  geoplateforme/api/permissions.py
  geoplateforme/api/processing.py
  geoplateforme/api/stored_data.py
  geoplateforme/api/upload.py
  geoplateforme/api/user_key.py
  geoplateforme/gui/provider/mdl_search_result.py
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

fix(qt6): replace ToolTipRole enum
  geoplateforme/gui/upload_creation/mdl_upload_files.py
Due: flake8, test-unit, test-qgis

fix(qt6): force definition of parent for RangeSlider
  geoplateforme/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis

fix(qt6): correct enum Horizontal
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis

fix(qt6): correct enum for QSlider SliderAction
  geoplateforme/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis

fix(model stored data): check if stored data defined
  geoplateforme/gui/mdl_stored_data.py
Due: flake8, test-unit, test-qgis

fix(qt6): enum correction for QStyle
  geoplateforme/toolbelt/range_slider.py
Due: flake8, test-unit, test-qgis

fix(provider): display result info when selection is changed
  geoplateforme/gui/provider/provider_dialog.py
Due: flake8, test-unit, test-qgis

feat(theme): sort theme by value for display
  geoplateforme/gui/metadata/wdg_tagbar.py
Due: flake8, test-unit, test-qgis

feat(processing): always use ids instead of names
  geoplateforme/processing/generation/tile_creation.py
  geoplateforme/processing/generation/upload_database_integration.py
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

feat(dashboard): update min size
  geoplateforme/gui/dashboard/wdg_dashboard.ui
Due: none

fix(ci): alway run test for PR to main (needed for merge)
  .github/workflows/tester.yml
Due: none

fix(ci): alway run linter for PR to main (needed for merge)
  .github/workflows/linter.yml
Due: none

feat(sld from layer): disable checks to avoid error if proxy needed for schema download
  geoplateforme/gui/styles/wdg_sld_selection.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.13.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

fix(processing): be more robust for processing search from id
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

fix(qt6): remove use of child function (replaced by index)
  geoplateforme/toolbelt/check_state_model.py
Due: flake8, test-unit, test-qgis

fix(markdown): in Qt6 standard markdown is used, italic with _ is not supported
  geoplateforme/gui/formatting_text_edit.py
Due: flake8, test-unit, test-qgis

fix(report): avoid duplicate of generation report
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/dashboard/wdg_upload_details.py
Due: flake8, test-unit, test-qgis

fix(doc): invalid links for processings
  docs/usage/processings.md
  geoplateforme/processing/utils.py
Due: flake8, test-unit, test-qgis, pages

feat(user key): add processing to delete all available accesses
  docs/usage/processings.md
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/key_access.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/user_key/delete_user_key_accesses.py
  geoplateforme/resources/help/delete_user_key_accesses.md
Due: flake8, test-unit, test-qgis, pages

feat(user key): delete current accesses and add selected for user key update
  geoplateforme/gui/user_keys/wdg_user_key.py
Due: flake8, test-unit, test-qgis

feat(ui): add validator for only lower case
  geoplateforme/gui/lne_validators.py
Due: flake8, test-unit, test-qgis

feat(ui): add check for pyr vector and pyr raster generation parameters - lower case and number for name - generalization option mandatory for pyr vector - table and attribute for pyr vector
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.py
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.ui
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_status.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.ui
  geoplateforme/gui/tile_creation/qwp_tile_generation_fields_selection.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_generalization.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
Due: flake8, test-unit, test-qgis

feat(pyr_vector): remove sample option
  geoplateforme/gui/tile_creation/qwp_tile_generation_sample.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_sample.ui
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/gui/tile_creation/wzd_tile_creation.py
Due: flake8, test-unit, test-qgis

feat(wfs): use QScrollArea to use collapsible group box - needed to avoid use of space when collapsed
  geoplateforme/gui/wfs_publication/qwp_table_relation.ui
Due: none

feat(metadata): edit metadata description with markdown
  geoplateforme/gui/metadata/wdg_metadata_details.ui
  geoplateforme/gui/wdg_publication_form.ui
Due: none

feat(publish): enable back button in case of publish error
  geoplateforme/gui/publication/qwp_abstract_publish_service.py
  geoplateforme/gui/publication/qwp_visibility.py
  geoplateforme/gui/publication_creation/qwp_status.py
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.py
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_publication_status.py
  geoplateforme/gui/wms_vector_publication/qwp_wms_vector_publication_status.py
  geoplateforme/gui/wmts_publication/qwp_wmts_publication_status.py
Due: flake8, test-unit, test-qgis
