Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

fix vectiler to geotuileur
  geotuileur/gui/dashboard/dlg_dashboard.ui
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/dashboard/wdg_dashboard.ui
Due: flake8, test-unit, test-qgis

Fix legacy name
  geotuileur/gui/dashboard/dlg_dashboard.ui
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/dashboard/wdg_dashboard.ui
Due: flake8, test-unit, test-qgis

Closes #81 updating default client id
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

Update installation doc
  docs/static/images/qgis_extensions_custom_repository.png
  docs/static/images/qgis_extensions_installed.png
  docs/static/images/qgis_extensions_settings.png
  docs/usage/installation.md
Due: pages

Add win setup (very partial)
  docs/development/environment.md
Due: pages

typo
  .vscode/settings.json
  CHANGELOG.md
  docs/development/documentation.md
Due: pages

restore git sign
  .vscode/settings.json
Due: none

Update plugin metadata
  geotuileur/metadata.txt
Due: none

Prepare 0.5.1 release
  CHANGELOG.md
Due: pages

Update screen capture of installed plugin
  docs/static/images/qgis_extensions_installed.png
Due: none

Add configuration and offering processing and .ui for publication
  geotuileur/api/configuration.py
  geotuileur/api/offering.py
  geotuileur/gui/publication_creation/qwp_publication_form.py
  geotuileur/gui/publication_creation/qwp_publication_form.ui
  geotuileur/gui/publication_creation/qwp_status.py
  geotuileur/gui/publication_creation/qwp_status.ui
  geotuileur/gui/publication_creation/wdg_publication_form.py
  geotuileur/gui/publication_creation/wdg_publication_form.ui
  geotuileur/gui/publication_creation/wdg_status.ui
  geotuileur/gui/publication_creation/wzd_publication_creation.py
  geotuileur/plugin_main.py
  geotuileur/processing/provider.py
  geotuileur/processing/upload_publication.py
  geotuileur/resources/images/dashboard/tiles-generated.svg
Due: flake8, test-unit, test-qgis

Rename translation file
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

Fix conflict between settings manager and object
  geotuileur/gui/dlg_authentication.py
Due: flake8, test-unit, test-qgis

Use QPushButton instead of QCommandLinkButton
  geotuileur/gui/dlg_authentication.ui
Due: none

Use exec_ instead of exec
  geotuileur/plugin_main.py
Due: flake8, test-unit, test-qgis

use open instead of exec
  geotuileur/plugin_main.py
Due: flake8, test-unit, test-qgis

Refacto auth dialog logic
  geotuileur/gui/dlg_authentication.py
Due: flake8, test-unit, test-qgis

clean up
  geotuileur/gui/dlg_settings.py
Due: flake8, test-unit, test-qgis

Use geotuileur login waiting for #95
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

Fix default value for auth_id
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

typo docstring
  geotuileur/plugin_main.py
Due: flake8, test-unit, test-qgis

Add urls for sign in and reset some settings properties
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

Restore exec_ since open doesn't work as expected
  geotuileur/plugin_main.py
Due: flake8, test-unit, test-qgis

Use log handler instead of msgbox
  geotuileur/gui/dlg_authentication.py
Due: flake8, test-unit, test-qgis

Make input validators a module
  geotuileur/gui/lne_validators.py
Due: flake8, test-unit, test-qgis

Update translations
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

Replace qregexp by QRegularExpression
  geotuileur/gui/lne_validators.py
  geotuileur/gui/publication_creation/wdg_publication_form.py
  geotuileur/gui/tile_creation/qwp_tile_generation_edition.py
  geotuileur/gui/upload_creation/qwp_upload_edition.py
Due: flake8, test-unit, test-qgis

Add changelog
  CHANGELOG.md
Due: pages

add url publication
  geotuileur/gui/publication_creation/qwp_status.py
  geotuileur/gui/publication_creation/qwp_status.ui
  geotuileur/gui/publication_creation/wdg_publication_form.py
  geotuileur/gui/publication_creation/wdg_status.ui
Due: flake8, test-unit, test-qgis

Fix validators
  geotuileur/gui/lne_validators.py
  geotuileur/gui/publication_creation/wdg_publication_form.py
Due: flake8, test-unit, test-qgis

Hotfix bad imports
  geotuileur/api/upload.py
  geotuileur/gui/publication_creation/qwp_status.py
  geotuileur/gui/tile_creation/qwp_tile_generation_edition.py
  geotuileur/gui/tile_creation/wzd_tile_creation.py
  geotuileur/gui/upload_creation/wzd_upload_creation.py
Due: flake8, test-unit, test-qgis

Apply guidelines to publication form
  geotuileur/gui/publication_creation/qwp_publication_form.py
  geotuileur/gui/publication_creation/wdg_publication_form.py
  geotuileur/gui/publication_creation/wdg_publication_form.ui
Due: flake8, test-unit, test-qgis

Bump to version 0.6.0
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

spelling errors correction
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: flake8, test-unit, test-qgis

delete markdown property
  geotuileur/gui/publication_creation/wdg_publication_form.ui
Due: none

add endpoint path
  geotuileur/api/endpoint.py
  geotuileur/gui/publication_creation/qwp_status.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

minor fixes and add choosed endpoint by data type
  geotuileur/api/datastore.py
  geotuileur/api/offering.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

minor fixes
  geotuileur/api/datastore.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

add zoom levels parameters from stored data
  geotuileur/api/stored_data.py
  geotuileur/gui/publication_creation/qwp_status.py
  geotuileur/gui/publication_creation/wdg_publication_form.ui
Due: flake8, test-unit, test-qgis

upgrading
  geotuileur/api/stored_data.py
  geotuileur/gui/publication_creation/qwp_status.py
Due: flake8, test-unit, test-qgis
