Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

Doc that
  docs/development/testing.md
Due: pages

Fix doc build by commenting ogp image
  docs/conf.py
Due: flake8, test-unit, test-qgis

Fix Qt errors during tests under qgis
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

create authentication form
  vectiler/gui/dlg_authentication_form.py
  vectiler/gui/dlg_authentication_form.ui
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

minor writting correction
  vectiler/gui/dlg_authentication_form.ui
Due: pages

Add branching
  CONTRIBUTING.md
Due: pages

Add screen capture of geotuileur website
  docs/static/images/geotuileur_accueil.png
Due: none

Add wiki hyperlink
  docs/index.md
Due: pages

Ajout vidéos
  docs/index.md
Due: pages

Add geotuileur settings fields
  vectiler/gui/dlg_settings.py
  vectiler/gui/dlg_settings.ui
  vectiler/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis, pages

Fix qm ignored
  .gitignore
Due: none

Upgrade translation files
  vectiler/resources/i18n/plugin_translation.pro
Due: pages

Rm missing locale warning
  vectiler/toolbelt/translator.py
Due: flake8, test-unit, test-qgis, pages

Add minimal API client
  vectiler/api/__init__.py
  vectiler/api/client.py
Due: flake8, test-unit, test-qgis, pages

Add button to check connection
  vectiler/gui/dlg_settings.py
  vectiler/gui/dlg_settings.ui
Due: flake8, test-unit, test-qgis, pages

Store config id
  vectiler/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis, pages

AUtosave and auto imports sorting
  .vscode/settings.json
Due: none

Return in case of failed auth
  vectiler/gui/dlg_settings.py
Due: flake8, test-unit, test-qgis, pages

Bump to v0.2.0
  CHANGELOG.md
  vectiler/metadata.txt
Due: pages

Add token decoding and check
  vectiler/gui/dlg_settings.py
Due: flake8, test-unit, test-qgis, pages

Fix builder allowing uncommited changes to be packaged
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Bump to 0.2.1
  CHANGELOG.md
  vectiler/metadata.txt
Due: pages

Basic script to quickly test against auth and api
  tests/dev/dev_auth_flow_requests.py
Due: flake8, test-unit, test-qgis

add function open URL and for avoid some characters
  vectiler/gui/dlg_authentication_form.py
  vectiler/gui/dlg_authentication_form.ui
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

add windows wzd_import wzd_configuration
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

modification on plugin_main and add wzd_import.py and .ui
  vectiler/gui/wzd_import
  vectiler/gui/wzd_import.py
  vectiler/gui/wzd_import.ui
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

plugin_main minor modifications
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

delete authentication_form
  vectiler/gui/dlg_authentication_form.py
  vectiler/gui/dlg_authentication_form.ui
Due: flake8, test-unit, test-qgis, pages

wzd_import minor modifications
  vectiler/gui/wzd_import.py
  vectiler/gui/wzd_import.ui
Due: flake8, test-unit, test-qgis, pages

Feature/layer check processing
  .gitlab-ci.yml
  tests/qgis/processings/__init__.py
  tests/qgis/processings/conftest.py
  tests/qgis/processings/test_check_layer.py
  vectiler/processing/check_layer.py
  vectiler/processing/provider.py
Due: flake8, test-unit, test-qgis, pages

Add authentication dialog
  vectiler/gui/dlg_authentication.py
  vectiler/gui/dlg_authentication.ui
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

Ajout de l'url vers l'API entrepot et utilisation de l'API pour vérification de la connection
  vectiler/api/client.py
  vectiler/gui/dlg_settings.py
  vectiler/gui/dlg_settings.ui
  vectiler/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis, pages

add QStandardItemModel for datastore display
  vectiler/gui/mdl_datastore.py
Due: flake8, test-unit, test-qgis, pages

corrections and added some functionalities (shortcuts, file path control)
  vectiler/gui/wzd_import.py
  vectiler/gui/wzd_import.ui
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

deleted unused file
  vectiler/gui/wzd_import
Due: pages

corrections
  vectiler/gui/wzd_import.py
Due: flake8, test-unit, test-qgis, pages

small refactor
  vectiler/gui/wzd_import.py
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

create auth config from connection dialog
  vectiler/api/client.py
  vectiler/gui/dlg_authentication.py
  vectiler/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis, pages

configuration datas wizard
  vectiler/gui/wzd_configuration.py
  vectiler/gui/wzd_configuration.ui
  vectiler/plugin_main.py
Due: flake8, test-unit, test-qgis, pages

upload_creation processing
  vectiler/api/client.py
  vectiler/api/upload.py
  vectiler/processing/provider.py
  vectiler/processing/upload_creation.py
  vectiler/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
