Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

feat(vector db creation): add documentation
  docs/usage/processings.md
  geoplateforme/resources/help/vector_db_creation.md
Due: pages

doc(vector db creation): update for _create_upload
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(tile generation): add action for tile generation in vector db stored data details
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/gui/tile_creation/wzd_tile_creation.py
Due: flake8, test-unit, test-qgis

fix(cbx stored data): use stored data in UserRole to get id
  geoplateforme/gui/mdl_stored_data.py
Due: flake8, test-unit, test-qgis

feat(tile generation): move init of combobox in wizard page init
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/gui/tile_creation/wzd_tile_creation.py
Due: flake8, test-unit, test-qgis

feat(stored data model): remove unused ID_COL
  geoplateforme/gui/mdl_stored_data.py
Due: flake8, test-unit, test-qgis

feat(stored data detail): use toolbutton instead of action to display text in toolbar
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
Due: flake8, test-unit, test-qgis

feat(tile publish): add action for tile publication in pyramid vector stored data details
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/publication_creation/qwp_publication_form.py
  geoplateforme/gui/publication_creation/wzd_publication_creation.py
Due: flake8, test-unit, test-qgis

feat(tile publish): move init of combobox in wizard page init
  geoplateforme/gui/publication_creation/qwp_publication_form.py
  geoplateforme/gui/publication_creation/wzd_publication_creation.py
Due: flake8, test-unit, test-qgis

feat(tile generation): refactor to remove JSON file use
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/processing/tile_creation.py
  geoplateforme/resources/help/tile_creation.md
Due: flake8, test-unit, test-qgis, pages

feat(doc): add tile creation processing in online documentation
  docs/usage/processings.md
Due: pages

feat(doc): add tile publish processing documentation
  docs/usage/processings.md
  geoplateforme/processing/upload_publication.py
  geoplateforme/resources/help/vector_tile_publish.md
Due: flake8, test-unit, test-qgis, pages

feat(tile publish): refactor to remove JSON file use
  geoplateforme/gui/publication_creation/qwp_status.py
  geoplateforme/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

feat(ui): remove action for tile generation and publication from toolbar
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

add metadata class and fill by parsing xml
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/metadata.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

feat(dataset): sort by name in combobox
  geoplateforme/gui/cbx_dataset.py
Due: flake8, test-unit, test-qgis

feat(configuration): add functions to get all configurations for a dataset
  geoplateforme/api/configuration.py
  geoplateforme/api/custom_exceptions.py
Due: flake8, test-unit, test-qgis

fix(stored data): invalid s_torage attribute use
  geoplateforme/api/stored_data.py
Due: flake8, test-unit, test-qgis

feat(configuration): display configuration in dashboard
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
Due: flake8, test-unit, test-qgis

feat(configuration): simple model for configuration display
  geoplateforme/gui/mdl_configuration.py
Due: flake8, test-unit, test-qgis

feat(configuration): init detail info get
  geoplateforme/api/configuration.py
Due: flake8, test-unit, test-qgis

feat(tile publish): remove tms_url in stored data tags - limit of 99 char in API
  geoplateforme/api/stored_data.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/processing/delete_data.py
  geoplateforme/processing/unpublish.py
Due: flake8, test-unit, test-qgis

feat(configuration): use is_detailed for all attributes
  geoplateforme/api/configuration.py
  geoplateforme/gui/mdl_configuration.py
  geoplateforme/gui/publication_creation/wdg_publication_form.py
  geoplateforme/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

feat(upload): add widget to display upload details
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_upload_details.py
  geoplateforme/gui/dashboard/wdg_upload_details.ui
Due: flake8, test-unit, test-qgis

feat(upload): add function to create extent layer
  geoplateforme/api/upload.py
Due: flake8, test-unit, test-qgis

feat(external plugins): add dependencies for french locator and isoservice / itinerary
  geoplateforme/metadata.txt
Due: none

feat(external plugin): load action from external plugin - french_locator - gpf_isochrone_isodistance_itineraire
  geoplateforme/constants.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(dependencies): add try except and check returned instance is QAction
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(til generation): remove upload check display in wizard
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
Due: flake8, test-unit, test-qgis

feat(upload creation): store executed check after upload creation
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

feat(processing): allow for stop with cancel in status check
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/upload_database_integration.py
  geoplateforme/processing/upload_from_files.py
Due: flake8, test-unit, test-qgis

feat(processing): limit number of request when waiting for status
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

feat(upload): stop check of upload when vector db generation is launch
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

fix(status check): timer use ms
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

feat(dashboard): display dataset as main tab
  geoplateforme/gui/dashboard/wdg_dashboard.ui
Due: none

feat(processing): add available processings name in settings (not visible to user)
  geoplateforme/api/processing.py
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/upload_database_integration.py
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

feat(upload): check if db integration has started before wizard close
  geoplateforme/gui/upload_creation/wzd_upload_creation.py
Due: flake8, test-unit, test-qgis

feat(auth): add user dialog if log in
  geoplateforme/gui/dlg_authentication.py
  geoplateforme/gui/dlg_authentication.ui
  geoplateforme/gui/user/dlg_user.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.4.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

feat(ci): force test run if only metadata.txt is updated
  .github/workflows/tester.yml
Due: none
