Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

refactor(provider): delete unnecessary class
  geoplateforme/gui/provider/provider_dialog.py
  geoplateforme/gui/provider/provider_dialog.ui
  geoplateforme/gui/provider/provider_form.py
Due: flake8, test-unit, test-qgis

refacto(provider): add search url to settings
  geoplateforme/gui/provider/mdl_search_result.py
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

documentation(provider): add doc string
  geoplateforme/gui/provider/provider_dialog.py
Due: flake8, test-unit, test-qgis

fix(provider): fix QT6 compatibility
  geoplateforme/gui/provider/provider_dialog.py
  geoplateforme/gui/provider/provider_gpf.py
Due: flake8, test-unit, test-qgis

feat(delete): add processing to delete stored data and associated offering and configuration
  docs/usage/processings.md
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/storage/dlg_storage_report.py
  geoplateforme/processing/delete_data.py
  geoplateforme/processing/delete_stored_data.py
  geoplateforme/processing/provider.py
  geoplateforme/resources/help/delete_stored_data.md
Due: flake8, test-unit, test-qgis, pages

feat(delete): update algorithm call
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

feat(delete): check if offering is UNPUBLISHING
  geoplateforme/processing/tools/delete_stored_data.py
Due: flake8, test-unit, test-qgis

feat(delete): move to tools processing dir
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/storage/dlg_storage_report.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/tools/delete_stored_data.py
Due: flake8, test-unit, test-qgis

feat(delete): add delete action for stored data
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.7.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

feat(network): add check of json content before checking for errors
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

feat(upload delete): add action in widget
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_upload_details.py
Due: flake8, test-unit, test-qgis

feat(upload delete): add processing and unit test
  docs/usage/processings.md
  geoplateforme/processing/provider.py
  geoplateforme/processing/tools/delete_upload.py
  geoplateforme/resources/help/delete_upload.md
  requirements/testing.txt
  tests/qgis/processings/conftest.py
  tests/qgis/processings/tools/test_upload_delete.py
Due: flake8, test-unit, test-qgis, pages

feat(offering delete): add processing and unit test
  geoplateforme/processing/provider.py
  geoplateforme/processing/tools/delete_offering.py
  geoplateforme/resources/help/delete_offering.md
  tests/qgis/processings/tools/test_offering_delete.py
Due: flake8, test-unit, test-qgis, pages

feat(offering delete): add action in widget
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_service_details.py
Due: flake8, test-unit, test-qgis

feat(user key): init manager
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/user_key.py
Due: flake8, test-unit, test-qgis

feat(user key): display available keys as list
  geoplateforme/gui/user_keys/dlg_user_keys.py
  geoplateforme/gui/user_keys/dlg_user_keys.ui
  geoplateforme/gui/user_keys/mdl_user_keys.py
  geoplateforme/gui/user_keys/wdg_user_keys.py
  geoplateforme/gui/user_keys/wdg_user_keys.ui
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(permission): add processing for permission creation (account and community)
  docs/usage/processings.md
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/permissions.py
  geoplateforme/processing/permissions/create_permission.py
  geoplateforme/processing/provider.py
  geoplateforme/resources/help/create_permission.md
  tests/qgis/processings/permissions/test_permission_creation.py
Due: flake8, test-unit, test-qgis, pages

fix(permission): last name and first name can be empty
  geoplateforme/api/permissions.py
Due: flake8, test-unit, test-qgis

feat(permission): add widget to display permission in closed services
  geoplateforme/gui/dashboard/wdg_service_details.py
  geoplateforme/gui/dashboard/wdg_service_details.ui
  geoplateforme/gui/permissions/mdl_permissions.py
  geoplateforme/gui/permissions/wdg_permissions.py
  geoplateforme/gui/permissions/wdg_permissions.ui
Due: flake8, test-unit, test-qgis

feat(offering): add option to check offering in model
  geoplateforme/gui/mdl_offering.py
Due: flake8, test-unit, test-qgis

feat(community): add model to display community
  geoplateforme/gui/mdl_community.py
Due: flake8, test-unit, test-qgis

feat(permission): create widget for permission creation parameters
  geoplateforme/gui/permissions/wdg_permission_creation.py
  geoplateforme/gui/permissions/wdg_permission_creation.ui
Due: flake8, test-unit, test-qgis

feat(user): add function to get community list
  geoplateforme/api/user.py
Due: flake8, test-unit, test-qgis

feat(offering): add proxy model to display only closed offering
  geoplateforme/gui/proxy_model_offering.py
Due: flake8, test-unit, test-qgis

feat(permission): add button to create permission
  geoplateforme/gui/permissions/wdg_permissions.py
  geoplateforme/gui/permissions/wdg_permissions.ui
Due: flake8, test-unit, test-qgis

feat(permission): add dialog to create new permissions
  geoplateforme/gui/permissions/dlg_permission_creation.py
  geoplateforme/gui/permissions/dlg_permission_creation.ui
Due: flake8, test-unit, test-qgis

feat(metadata): add new widget for metadata
  geoplateforme/api/metadata.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_metadata_details.py
  geoplateforme/gui/dashboard/wdg_metadata_details.ui
Due: flake8, test-unit, test-qgis

feat(metadata): update widget and generate xml file to update metadata
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/metadata.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/dashboard/wdg_metadata_details.py
  geoplateforme/gui/metadata/metadata_template
  geoplateforme/gui/metadata/wdg_metadata_details.py
  geoplateforme/gui/metadata/wdg_metadata_details.ui
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

feat(metadata): check content and catch exception for invalid values
  geoplateforme/api/metadata.py
Due: flake8, test-unit, test-qgis

feat(metadata): check if value is defined for widget update and metadata get
  geoplateforme/gui/metadata/wdg_metadata_details.py
Due: flake8, test-unit, test-qgis

fix(qt6): invalid enum use
  geoplateforme/gui/metadata/wdg_metadata_details.py
  geoplateforme/gui/permissions/wdg_permissions.py
Due: flake8, test-unit, test-qgis

feat(metadata): remove margin for layout
  geoplateforme/gui/metadata/wdg_metadata_details.ui
Due: none

feat(user key): add function to create key
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/user_key.py
Due: flake8, test-unit, test-qgis

feat(user key): add processing for hash key creation
  docs/usage/processings.md
  geoplateforme/processing/provider.py
  geoplateforme/processing/user_key/create_hash_key.py
  geoplateforme/resources/help/create_hash_key.md
Due: flake8, test-unit, test-qgis, pages

feat(user key): add processing for basic key creation
  docs/usage/processings.md
  geoplateforme/processing/provider.py
  geoplateforme/processing/user_key/create_basic_key.py
  geoplateforme/resources/help/create_basic_key.md
  tests/qgis/processings/user_key/test_key_creation.py
Due: flake8, test-unit, test-qgis, pages

feat(user key): add simple test for hash key creation
  tests/qgis/processings/user_key/test_key_creation.py
Due: flake8, test-unit, test-qgis

feat(user key): add processing for OAuth2 key creation
  docs/usage/processings.md
  geoplateforme/processing/provider.py
  geoplateforme/processing/user_key/create_oauth_key.py
  geoplateforme/resources/help/create_oauth_key.md
Due: flake8, test-unit, test-qgis, pages

feat(user key): add simple test for OAuth2 key creation
  tests/qgis/processings/user_key/test_key_creation.py
Due: flake8, test-unit, test-qgis

feat(user key): add accesses creation processing
  docs/usage/processings.md
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/user_key.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/user_key/create_accesses.py
  geoplateforme/resources/help/create_accesses.md
  tests/qgis/processings/user_key/test_accesses_creation.py
Due: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
