Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

fix(stored data cbx): use StoredData object to get id
  geoplateforme/gui/cbx_stored_data.py
Due: flake8, test-unit, test-qgis

fix(plugin): Qt6 flag is supportsQt6 not qt6_compatible
  geoplateforme/metadata.txt
Due: none

feat(configuration): use NetworkRequestsManager
  geoplateforme/api/configuration.py
Due: flake8, test-unit, test-qgis

feat(datastore): use NetworkRequestsManager
  geoplateforme/api/datastore.py
Due: flake8, test-unit, test-qgis

feat(tile vector publish): add dataset selection for publish
  geoplateforme/gui/publication_creation/qwp_publication_form.py
  geoplateforme/gui/publication_creation/qwp_publication_form.ui
  geoplateforme/gui/publication_creation/qwp_status.py
Due: flake8, test-unit, test-qgis

feat(tile vector publish): add dataset name for tag definition and fix url definition
  geoplateforme/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

feat(tile vector publish): don't remove stored data after publish
  geoplateforme/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

feat(datastore): remove unused variable
  geoplateforme/api/datastore.py
Due: flake8, test-unit, test-qgis

feat(tile vector publish): enable action in toolbar
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(network manager): get error from request reply
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

feat(upload): rename algorithm for more explicit name
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/upload_creation.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(upload): remove use of .json file for processing parameter definition
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/processing/upload_creation.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(upload): use explicit name for processing using files as input
  geoplateforme/processing/provider.py
  geoplateforme/processing/upload_from_files.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(upload): add support for tag definition for upload creation
  geoplateforme/processing/upload_from_files.py
  geoplateforme/processing/utils.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(upload): init documentation
  docs/index.md
  docs/usage/processings.md
  geoplateforme/processing/upload_from_files.py
  geoplateforme/processing/utils.py
  geoplateforme/resources/help/upload_from_files.md
Due: flake8, test-unit, test-qgis, pages

release: bump version to 0.2.0-beta2
  CHANGELOG.md
Due: pages

update(ui): use logo proposed by @IGNF-Xavier
  geoplateforme/resources/images/logo.svg
Due: none

fix(datastore selection): disable signal connection during update of combobox
  geoplateforme/gui/publication_creation/qwp_publication_form.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/gui/update_publication/qwp_update_publication_form.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_edition.py
Due: flake8, test-unit, test-qgis

feat(tile creation): no upload remove after creation
  geoplateforme/processing/tile_creation.py
Due: flake8, test-unit, test-qgis

fix(tile publish): invalid levels used
  geoplateforme/gui/publication_creation/qwp_status.py
Due: flake8, test-unit, test-qgis

fix(endpoint): invalid search of endpoint
  geoplateforme/api/datastore.py
Due: flake8, test-unit, test-qgis

feat(tile publish): display already publish pyramid vector
  geoplateforme/gui/publication_creation/qwp_publication_form.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.3.0-beta1 (#29)
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

feat(upload from layer): init processing
  geoplateforme/processing/provider.py
  geoplateforme/processing/upload_from_layers.py
  geoplateforme/processing/utils.py
Due: flake8, test-unit, test-qgis

feat(upload): add logs for processing steps
  geoplateforme/processing/upload_from_files.py
Due: flake8, test-unit, test-qgis

feat(upload): add support for GeoJson and export unsupported layer to GPKG
  geoplateforme/processing/upload_from_layers.py
Due: flake8, test-unit, test-qgis

feat(upload): add documenation for upload creation from layer
  geoplateforme/resources/help/upload_from_layers.md
Due: pages

feature(dashboard): add button to create a new dataset or add data to existing dataset
  geoplateforme/gui/cbx_dataset.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/gui/upload_creation/qwp_upload_edition.py
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/gui/upload_creation/wdg_upload_creation.ui
  geoplateforme/gui/upload_creation/wzd_upload_creation.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

fix review
  geoplateforme/gui/cbx_dataset.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

fix(tile publish): invalid zoom level used, must use sorted values
  geoplateforme/gui/publication_creation/qwp_status.py
Due: flake8, test-unit, test-qgis

feat(tile publish): add prefix SANDBOX for list of datastore defined in settings
  geoplateforme/processing/upload_publication.py
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

feat(check layers): non spatial layers CRS must not be checked
  geoplateforme/processing/check_layer.py
Due: flake8, test-unit, test-qgis

feat(upload to vector): refactor to replace .json by processing parameter
  geoplateforme/processing/upload_database_integration.py
  geoplateforme/processing/vector_db_creation.py
  geoplateforme/resources/help/upload_database_integration.md
Due: flake8, test-unit, test-qgis, pages

feat(upload from layer): add additionnal files option
  docs/usage/processings.md
  geoplateforme/processing/upload_from_layers.py
  geoplateforme/resources/help/upload_from_layers.md
Due: flake8, test-unit, test-qgis, pages

feat(layer selection): new ui for layer and file selection
  geoplateforme/gui/upload_creation/mdl_upload_files.py
  geoplateforme/gui/upload_creation/wdg_layer_selection.py
  geoplateforme/gui/upload_creation/wdg_layer_selection.ui
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/gui/upload_creation/wdg_upload_creation.ui
  geoplateforme/processing/upload_from_layers.py
Due: flake8, test-unit, test-qgis

fix(upload file model): use correct value for get_first_displayed_name
  geoplateforme/gui/upload_creation/mdl_upload_files.py
Due: flake8, test-unit, test-qgis

feat(upload): rename variable and function for row remove
  geoplateforme/gui/upload_creation/wdg_layer_selection.py
Due: flake8, test-unit, test-qgis

fix(upload from layer): don't use empty filename
  geoplateforme/processing/upload_from_layers.py
Due: flake8, test-unit, test-qgis

feat(vector db creation): add tags to upload
  geoplateforme/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

feat(vector db creation): use layers for vector db creation
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
