Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

feat(report issue): add Xavier as default assignee
  geoplateforme/gui/dlg_settings.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(wms): init processing for publication - create static file in processing - use created static file id for relations
  geoplateforme/processing/provider.py
  geoplateforme/processing/wms_publication.py
Due: flake8, test-unit, test-qgis

feat(wms vector): init publication wizard
  geoplateforme/api/configuration.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/wms_vector_publication/qwp_publication_form.py
  geoplateforme/gui/wms_vector_publication/qwp_publication_form.ui
  geoplateforme/gui/wms_vector_publication/qwp_table_style_selection.py
  geoplateforme/gui/wms_vector_publication/qwp_table_style_selection.ui
  geoplateforme/gui/wms_vector_publication/qwp_wms_vector_publication_status.py
  geoplateforme/gui/wms_vector_publication/qwp_wms_vector_publication_status.ui
  geoplateforme/gui/wms_vector_publication/wdg_table_style_selection.py
  geoplateforme/gui/wms_vector_publication/wdg_table_style_selection.ui
  geoplateforme/gui/wms_vector_publication/wzd_publication_creation.py
Due: flake8, test-unit, test-qgis

feat(service): display offering instead of configuration
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/mdl_offering.py
Due: flake8, test-unit, test-qgis

feat(offering): refactor manager
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/offerings.py
Due: flake8, test-unit, test-qgis

feat(service): add details zone
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/dashboard/wdg_service_details.py
  geoplateforme/gui/dashboard/wdg_service_details.ui
Due: flake8, test-unit, test-qgis

fix(upload): add_file need a Path and not a str
  geoplateforme/api/upload.py
  geoplateforme/processing/upload_from_files.py
Due: flake8, test-unit, test-qgis

feat(stored data): display icon for status
  geoplateforme/gui/mdl_stored_data.py
Due: flake8, test-unit, test-qgis

feat(upload): select upload or stored data after creation
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/mdl_upload.py
  geoplateforme/gui/upload_creation/wzd_upload_creation.py
Due: flake8, test-unit, test-qgis

fix(tms): need to use ConfigurationType instead of str
  geoplateforme/gui/wdg_publication_form.py
  geoplateforme/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

feat(publication): select offering after publication - return offering id in processings for publication - add selection of service in dashboard - update all publication wizard to store offering id
  geoplateforme/api/configuration.py
  geoplateforme/api/offerings.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/mdl_offering.py
  geoplateforme/gui/publication_creation/qwp_status.py
  geoplateforme/gui/publication_creation/qwp_status.ui
  geoplateforme/gui/publication_creation/wzd_publication_creation.py
  geoplateforme/gui/update_publication/wzd_update_publication.py
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.py
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.ui
  geoplateforme/gui/wfs_publication/wzd_publication_creation.py
  geoplateforme/gui/wms_vector_publication/qwp_wms_vector_publication_status.py
  geoplateforme/gui/wms_vector_publication/qwp_wms_vector_publication_status.ui
  geoplateforme/gui/wms_vector_publication/wzd_publication_creation.py
  geoplateforme/processing/upload_publication.py
  geoplateforme/processing/wfs_publication.py
  geoplateforme/processing/wms_publication.py
  geoplateforme/resources/help/vector_tile_publish.md
Due: flake8, test-unit, test-qgis, pages

fix(offering): always publish as open
  geoplateforme/api/offerings.py
Due: flake8, test-unit, test-qgis

fix(endpoint): add option to use open endpoint
  geoplateforme/api/datastore.py
Due: flake8, test-unit, test-qgis

feat(changelog): update for 0.6.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

feat(raster tile): init processing for generation from wms vector
  geoplateforme/api/processing.py
  geoplateforme/processing/create_raster_tiles_from_wms_vector.py
  geoplateforme/processing/provider.py
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

feat(raster tiles): add documentation
  docs/usage/processings.md
  geoplateforme/resources/help/raster_tiles_from_wms_vector.md
Due: pages

Update geoplateforme/api/processing.py
  geoplateforme/api/processing.py
Due: flake8, test-unit, test-qgis

feat(raster tiles): add wizard for raster tiles creation from WMS-VECTOR service
  geoplateforme/api/configuration.py
  geoplateforme/api/datastore.py
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.py
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_edition.ui
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_status.py
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_status.ui
  geoplateforme/gui/create_raster_tiles_from_wms_vector/wzd_raster_tiles_from_wms_vector.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_service_details.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
Due: flake8, test-unit, test-qgis

feat(wms raster): init processing for publication
  geoplateforme/processing/provider.py
  geoplateforme/processing/wms_raster_publication.py
  geoplateforme/resources/help/wms_raster_publication.md
Due: flake8, test-unit, test-qgis, pages

feat(wms raster): add doc in static web page
  docs/usage/processings.md
  geoplateforme/processing/wms_raster_publication.py
  geoplateforme/resources/help/wms_raster_publish.md
Due: flake8, test-unit, test-qgis, pages

feat(wms raster): add wizard for publication
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/wms_raster_publication/qwp_publication_form.py
  geoplateforme/gui/wms_raster_publication/qwp_publication_form.ui
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_edition.py
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_edition.ui
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_publication_status.py
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_publication_status.ui
  geoplateforme/gui/wms_raster_publication/wzd_publication_creation.py
Due: flake8, test-unit, test-qgis

feat(wmts): init processing for publication
  geoplateforme/processing/provider.py
  geoplateforme/processing/wmts_publication.py
  geoplateforme/resources/help/wmts_publish.md
Due: flake8, test-unit, test-qgis, pages

feat(wmts): add doc in static web page
  docs/usage/processings.md
Due: pages

feat(wmts): add wizard for publication
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/wmts_publication/qwp_publication_form.py
  geoplateforme/gui/wmts_publication/qwp_publication_form.ui
  geoplateforme/gui/wmts_publication/qwp_wmts_edition.py
  geoplateforme/gui/wmts_publication/qwp_wmts_edition.ui
  geoplateforme/gui/wmts_publication/qwp_wmts_publication_status.py
  geoplateforme/gui/wmts_publication/qwp_wmts_publication_status.ui
  geoplateforme/gui/wmts_publication/wzd_publication_creation.py
Due: flake8, test-unit, test-qgis

doc(wfs): add .md help
  docs/usage/processings.md
  geoplateforme/resources/help/wfs_publish.md
Due: pages

doc(wms vector): add .md help
  docs/usage/processings.md
  geoplateforme/processing/wms_publication.py
  geoplateforme/resources/help/wms_publish.md
Due: flake8, test-unit, test-qgis, pages

fix(doc): invalid links
  docs/usage/processings.md
Due: pages

feat(publish): add publication group for processing
  geoplateforme/processing/upload_publication.py
  geoplateforme/processing/wfs_publication.py
  geoplateforme/processing/wms_publication.py
  geoplateforme/processing/wms_raster_publication.py
  geoplateforme/processing/wmts_publication.py
Due: flake8, test-unit, test-qgis

doc(generate): add group for generation processing
  geoplateforme/processing/create_raster_tiles_from_wms_vector.py
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

doc(tools): add tools group for processing
  geoplateforme/processing/check_layer.py
  geoplateforme/processing/create_geoserver_style.py
  geoplateforme/processing/sld_downgrade.py
Due: flake8, test-unit, test-qgis

doc(web): add chapter for upload and generation processing
  docs/usage/processings.md
Due: pages

doc(upload): add upload group for processing
  geoplateforme/processing/upload_from_files.py
  geoplateforme/processing/upload_from_layers.py
Due: flake8, test-unit, test-qgis

feat(publication): move processing to a dedicated dir
  geoplateforme/gui/publication_creation/qwp_status.py
  geoplateforme/gui/update_publication/qwp_update_status.py
  geoplateforme/gui/wfs_publication/qwp_wfs_publication_status.py
  geoplateforme/gui/wms_raster_publication/qwp_wms_raster_publication_status.py
  geoplateforme/gui/wms_vector_publication/qwp_wms_vector_publication_status.py
  geoplateforme/gui/wmts_publication/qwp_wmts_publication_status.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/publication/upload_publication.py
  geoplateforme/processing/publication/wfs_publication.py
  geoplateforme/processing/publication/wms_publication.py
  geoplateforme/processing/publication/wms_raster_publication.py
  geoplateforme/processing/publication/wmts_publication.py
Due: flake8, test-unit, test-qgis

feat(upload): move processing to a dedicated dir
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/gui/upload_creation/wdg_layer_selection.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/upload/upload_from_files.py
  geoplateforme/processing/upload/upload_from_layers.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(generation): move processing to a dedicated dir
  geoplateforme/gui/create_raster_tiles_from_wms_vector/qwp_tile_generation_status.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/gui/upload_database_integration/qwp_upload_database_integration.py
  geoplateforme/processing/generation/create_raster_tiles_from_wms_vector.py
  geoplateforme/processing/generation/tile_creation.py
  geoplateforme/processing/generation/upload_database_integration.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/update_tile_upload.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(tools): move processing to a dedicated dir
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/publication/wms_publication.py
  geoplateforme/processing/tools/check_layer.py
  geoplateforme/processing/tools/create_geoserver_style.py
  geoplateforme/processing/tools/sld11-10.xsl
  geoplateforme/processing/tools/sld_downgrade.py
  tests/qgis/processings/test_check_layer.py
Due: flake8, test-unit, test-qgis

first commit a squasher
  geoplateforme/gui/provider/__init__.py
  geoplateforme/gui/provider/provider_dialog.py
  geoplateforme/gui/provider/provider_form.py
  geoplateforme/gui/provider/provider_form.ui
  geoplateforme/gui/provider/provider_gpf.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(provider): add layer to map from IGN provider
  geoplateforme/gui/provider/mdl_search_result.py
  geoplateforme/gui/provider/provider_dialog.py
  geoplateforme/gui/provider/provider_form.ui
Due: flake8, test-unit, test-qgis

fix(provider): use getcapabilities for WMTS and TMS
  geoplateforme/gui/provider/capabilities_reader.py
  geoplateforme/gui/provider/provider_dialog.py
Due: flake8, test-unit, test-qgis

feat(provider): add new provider using IGN search API
  geoplateforme/gui/provider/__init__.py
  geoplateforme/gui/provider/mdl_search_result.py
  geoplateforme/gui/provider/provider_dialog.py
  geoplateforme/gui/provider/provider_form.ui
  geoplateforme/gui/provider/provider_gpf.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis
