Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

MAJ modèle de ticket
  .gitlab/issue_templates/bug_report.md
Due: pages

Use bug report template
  geotuileur/gui/dlg_settings.py
Due: flake8, test-unit, test-qgis

update(docs): add demonstration video
  docs/index.md
Due: pages

fix(build): update dev dependencies
  .pre-commit-config.yaml
  requirements/development.txt
Due: none

fix(docs): update broken dependencies and fix demonstration video integration
  .gitignore
  .vscode/settings.json
  docs/index.md
  geotuileur/toolbelt/preferences.py
  requirements/documentation.txt
Due: flake8, test-unit, test-qgis, pages

update(ci): disable sonar check since project is about to be deprecated
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

update(docs): add warning about deprecated plugin and hyperlink to new plugin
  README.md
Due: pages

update(docs): display a warning about the plugin's deprecation and new project
  docs/index.md
Due: pages

fix(tests): update tests dependencies and fix broken syntax
  geoplateforme/gui/lne_validators.py
  requirements/testing.txt
Due: flake8, test-unit, test-qgis

update(compatibility): run Qt5/6 migration script against whole codebase
  geoplateforme/api/client.py
  geoplateforme/api/configuration.py
  geoplateforme/api/offerings.py
  geoplateforme/api/processing.py
  geoplateforme/api/stored_data.py
  geoplateforme/api/upload.py
  geoplateforme/api/user.py
  geoplateforme/api/utils.py
  geoplateforme/gui/cbx_stored_data.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dlg_settings.py
  geoplateforme/gui/gui_commons.py
  geoplateforme/gui/lne_validators.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/mdl_table_relation.py
  geoplateforme/gui/mdl_upload.py
  geoplateforme/gui/proxy_model_stored_data.py
  geoplateforme/gui/publication_creation/wzd_publication_creation.py
  geoplateforme/gui/report/dlg_report.py
  geoplateforme/gui/report/wdg_upload_log.py
  geoplateforme/gui/storage/dlg_storage_report.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/gui/tile_creation/wzd_tile_creation.py
  geoplateforme/gui/update_publication/wzd_update_publication.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geoplateforme/gui/update_tile_upload/wzd_update_tile_upload.py
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/gui/upload_creation/wdg_upload_creation.py
  geoplateforme/gui/upload_creation/wzd_upload_creation.py
  geoplateforme/gui/user/wdg_user.py
  geoplateforme/plugin_main.py
  geoplateforme/processing/check_layer.py
  geoplateforme/toolbelt/check_state_model.py
  geoplateforme/toolbelt/log_handler.py
  tests/qgis/processings/test_check_layer.py
Due: flake8, test-unit, test-qgis

fix(quality): use assertTrue and assertFalse instead of assertEqual
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

fix(docs): restore functional documentation
  docs/index.md
  geoplateforme/__about__.py
  geoplateforme/metadata.txt
  requirements/documentation.txt
Due: flake8, test-unit, test-qgis, pages

update(plugin): change logo
  .vscode/settings.json
  geoplateforme/metadata.txt
  geoplateforme/resources/images/logo.svg
Due: none

update(plugin): rename every geotuileur occurrence to geoplateforme respecting the case in tests
  tests/dev/dev_auth_flow_requests.py
  tests/qgis/processings/conftest.py
  tests/qgis/processings/test_check_layer.py
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

update(tooling): replace black with ruff formatter
  .pre-commit-config.yaml
  .vscode/extensions.json
  CONTRIBUTING.md
  requirements/development.txt
  ruff.toml
Due: pages

update(tooling): rename UI label into UI/UX
  .github/labeler.yml
Due: none

update(tooling): add bug label
  .github/labeler.yml
Due: none

fix(quality): apply git hooks against whole codebae and fix ruff warnings
  geoplateforme/gui/upload_creation/mdl_upload_files.py
  geoplateforme/processing/check_layer.py
Due: flake8, test-unit, test-qgis

fix(quality): apply Qt6 migration script
  geoplateforme/api/client.py
  geoplateforme/api/user.py
  geoplateforme/gui/dlg_settings.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

Add authentication on cartes.gouv.fr end point
  geoplateforme/api/configuration.py
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/datastore.py
  geoplateforme/api/processing.py
  geoplateforme/api/stored_data.py
  geoplateforme/api/upload.py
  geoplateforme/api/user.py
  geoplateforme/api/utils.py
  geoplateforme/auth/oauth2_config.json
  geoplateforme/constants.py
  geoplateforme/datamodels/__init__.py
  geoplateforme/datamodels/oauth2_configuration.py
  geoplateforme/gui/dlg_authentication.py
  geoplateforme/gui/dlg_authentication.ui
  geoplateforme/plugin_main.py
  geoplateforme/toolbelt/file_stats.py
  geoplateforme/toolbelt/network_manager.py
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

fix qt6 and tests
  geoplateforme/processing/check_layer.py
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

Update geoplateforme/api/user.py
  geoplateforme/api/user.py
Due: flake8, test-unit, test-qgis

remove Oslandia from docstrings, default values, env var...
  geoplateforme/datamodels/oauth2_configuration.py
  geoplateforme/gui/dlg_authentication.ui
  geoplateforme/toolbelt/network_manager.py
  scripts/generate_translation_profile.py
Due: flake8, test-unit, test-qgis

fix typing for qgis_auth_id
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

update(tooling): set ruff as Python formatter in VS Code
  .vscode/settings.json
Due: none

cleanup suite
  geoplateforme/api/client.py
  geoplateforme/gui/dlg_settings.py
  geoplateforme/gui/dlg_settings.ui
  geoplateforme/toolbelt/preferences.py
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

first cleanup commit
  geoplateforme/api/client.py
  geoplateforme/api/upload.py
  geoplateforme/gui/dlg_settings.py
  geoplateforme/gui/dlg_settings.ui
  geoplateforme/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

remove old Network Manager
  geoplateforme/api/check.py
  geoplateforme/api/client.py
  geoplateforme/api/upload.py
  geoplateforme/gui/dlg_authentication.py
  geoplateforme/gui/dlg_settings.py
  geoplateforme/toolbelt/__init__.py
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

remove requests dependencies
  geoplateforme/api/upload.py
  geoplateforme/processing/upload_creation.py
  tests/dev/dev_auth_flow_requests.py
Due: flake8, test-unit, test-qgis

feature(dasboard) : add combobox to filter datastore by dataset (using tags)
  geoplateforme/api/stored_data.py
  geoplateforme/gui/cbx_dataset.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/mdl_dataset.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

fix review
  geoplateforme/api/stored_data.py
  geoplateforme/gui/mdl_stored_data.py
Due: flake8, test-unit, test-qgis

refactor(stored_data): refactor stored_data class and model to optimize requests
  geoplateforme/api/stored_data.py
  geoplateforme/gui/mdl_dataset.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/proxy_model_stored_data.py
Due: flake8, test-unit, test-qgis

refactor (stored data): add properties to better handle access to them
  geoplateforme/api/stored_data.py
Due: flake8, test-unit, test-qgis

refactor (stored data): clean and update network manager
  geoplateforme/api/stored_data.py
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

refactor (stored data): update doctring to sphinx standard
  geoplateforme/api/stored_data.py
  geoplateforme/gui/mdl_dataset.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/proxy_model_stored_data.py
Due: flake8, test-unit, test-qgis

refactor (stored data): change id to _id
  geoplateforme/api/stored_data.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/mdl_dataset.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/report/dlg_report.py
  geoplateforme/gui/storage/dlg_storage_report.py
  geoplateforme/processing/tile_creation.py
Due: flake8, test-unit, test-qgis

refactor(upload): refactor upload to optimize requests and use network manager
  geoplateforme/api/upload.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/mdl_upload.py
  geoplateforme/gui/report/mdl_upload_details.py
  geoplateforme/gui/report/wdg_upload_log.py
  geoplateforme/gui/storage/dlg_storage_report.py
  geoplateforme/processing/upload_creation.py
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

fix(ci): project folder env var was missing, making fail the packaged plugin and repository failing
  .github/workflows/documentation.yml
Due: none
