Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

Apply repository renaming
  .gitlab-ci.yml
  .gitmodules
  README.md
  docs/index.md
  docs/usage/installation.md
  geotuileur/metadata.txt
Due: test-unit, test-qgis, pages

Rm get_upload_status (dead code)
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

Temporarily disable git hooks in CI
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Move stored_data exceptions to module
  geotuileur/api/custom_exceptions.py
  geotuileur/api/stored_data.py
  geotuileur/gui/mdl_stored_data.py
  geotuileur/gui/mdl_table_relation.py
  geotuileur/gui/publication_creation/qwp_status.py
  geotuileur/gui/report/dlg_report.py
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_publication/qwp_update_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/processing/delete_data.py
  geotuileur/processing/tile_creation.py
  geotuileur/processing/unpublish.py
  geotuileur/processing/update_tile_upload.py
  geotuileur/processing/upload_database_integration.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

Fix renamed exceptions
  geotuileur/api/datastore.py
Due: flake8, test-unit, test-qgis

Catch get api token error
  geotuileur/api/client.py
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

Move exception from datastore
  geotuileur/api/custom_exceptions.py
  geotuileur/api/datastore.py
  geotuileur/gui/storage/dlg_storage_report.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

Move exceptions out of check module
  geotuileur/api/check.py
  geotuileur/api/custom_exceptions.py
  geotuileur/api/upload.py
  geotuileur/gui/report/wdg_execution_log.py
Due: flake8, test-unit, test-qgis

Fix unused check (@jmkerloch comment)
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

Fix missing tr
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

Move exceptions from UploadRequestManager into independent module
  geotuileur/api/client.py
  geotuileur/api/custom_exceptions.py
  geotuileur/api/upload.py
  geotuileur/gui/mdl_upload.py
  geotuileur/gui/report/dlg_report.py
  geotuileur/gui/report/mdl_upload_details.py
  geotuileur/gui/report/wdg_upload_log.py
  geotuileur/gui/storage/dlg_storage_report.py
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/processing/upload_creation.py
  geotuileur/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

Move exceptions from offering
  geotuileur/api/custom_exceptions.py
  geotuileur/api/offerings.py
  geotuileur/processing/delete_data.py
  geotuileur/processing/unpublish.py
Due: flake8, test-unit, test-qgis

Move exceptions from user
  geotuileur/api/custom_exceptions.py
  geotuileur/api/user.py
  geotuileur/gui/dlg_authentication.py
  geotuileur/gui/dlg_settings.py
  geotuileur/gui/mdl_datastore.py
  geotuileur/gui/user/dlg_user.py
Due: flake8, test-unit, test-qgis

Move processing exceptions to module
  geotuileur/api/custom_exceptions.py
  geotuileur/api/offerings.py
  geotuileur/api/processing.py
  geotuileur/gui/report/dlg_report.py
  geotuileur/gui/report/wdg_execution_log.py
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/gui/upload_creation/qwp_upload_creation.py
  geotuileur/processing/tile_creation.py
  geotuileur/processing/update_tile_upload.py
  geotuileur/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

Move configuration exceptions into dedicated module
  geotuileur/api/configuration.py
  geotuileur/api/custom_exceptions.py
  geotuileur/gui/update_publication/qwp_update_publication_form.py
  geotuileur/processing/unpublish.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

Catch get api token error
  geotuileur/api/client.py
Due: flake8, test-unit, test-qgis

Move exceptions from UploadRequestManager into independent module
  geotuileur/api/client.py
Due: flake8, test-unit, test-qgis

encode url with QUrl function
  geotuileur/api/client.py
Due: flake8, test-unit, test-qgis

add explicit integer qwp_tile_generation_status.py
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
Due: flake8, test-unit, test-qgis

add explicit int qwp_update_tile_upload_run
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
Due: flake8, test-unit, test-qgis

update progress bar after delete
  geotuileur/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

don't read upload file tree if upload deleted
  geotuileur/gui/report/mdl_upload_details.py
Due: flake8, test-unit, test-qgis

update data delete in processing (move to next step)
  geotuileur/processing/tile_creation.py
  geotuileur/processing/upload_database_integration.py
  geotuileur/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

check connection with API token
  geotuileur/gui/dlg_authentication.py
  geotuileur/gui/user/dlg_user.py
  geotuileur/plugin_main.py
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

extent of stored data always returned in WGS84
  geotuileur/api/stored_data.py
  geotuileur/gui/tile_creation/qwp_tile_generation_sample.py
Due: flake8, test-unit, test-qgis

Activate release job on QGIS plugins repo
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Bump to version 1.0.0-beta1
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

Hotfix job dependency
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Run deploy to QGIS on Oslandia
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

refresh also user datastore when displaying dashboard and storage report
  geotuileur/gui/cbx_datastore.py
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

update changelog and version
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

Update translation
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

Bump qgis-plugin-ci dep
  requirements/packaging.txt
Due: pages

Bump latest version to 1.0.0-beta2
  CHANGELOG.md
Due: pages

Bump to version 1.0.0-beta3
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

Fix job to publish to QGIS repo
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Bump to version 1.0.0
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

Restore hooks
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Rm experimental flag
  geotuileur/metadata.txt
Due: none
