Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

display upload in storage report and manage upload delete
  geotuileur/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

add method to get all available uploads add method to delete upload get upload last event
  geotuileur/api/upload.py
Due: flake8, test-unit, test-qgis

add method to get datastore upload use
  geotuileur/api/datastore.py
Due: flake8, test-unit, test-qgis

delete upload after database integration
  geotuileur/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

wait for upload check
  geotuileur/processing/upload_creation.py
Due: flake8, test-unit, test-qgis

add processing for vector database creation
  geotuileur/processing/provider.py
  geotuileur/processing/vector_db_creation.py
  geotuileur/resources/i18n/plugin_translation.pro
Due: flake8, test-unit, test-qgis

refactor vector db creation wizard page to use new vector db creation processing
  geotuileur/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

refactor update tile upload to use new processing VectorDatabaseCreationAlgorithm
  geotuileur/processing/update_tile_upload.py
Due: flake8, test-unit, test-qgis

fix refactor of update tile upload
  geotuileur/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geotuileur/processing/update_tile_upload.py
Due: flake8, test-unit, test-qgis

fix CI for sonarcloud analysis
  .gitlab-ci.yml
Due: test-unit, test-qgis, pages

Apply 1 suggestion(s) to 1 file(s)
  sonar-project.properties
Due: none

add sonarcloud analysis
  .gitlab-ci.yml
  sonar-project.properties
Due: test-unit, test-qgis, pages

add update publication action and minor publication action refactoring
  geotuileur/api/configuration.py
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/publication_creation/qwp_publication_form.py
  geotuileur/gui/publication_creation/wdg_publication_form.py
  geotuileur/gui/update_publication/qwp_status.ui
  geotuileur/gui/update_publication/qwp_update_publication.ui
  geotuileur/gui/update_publication/qwp_update_publication_form.py
  geotuileur/gui/update_publication/qwp_update_status.py
  geotuileur/gui/update_publication/wzd_update_publication.py
Due: flake8, test-unit, test-qgis

minor fixes
  geotuileur/gui/storage/dlg_storage_report.py
  geotuileur/processing/unpublish.py
Due: flake8, test-unit, test-qgis

reviewed
  geotuileur/api/configuration.py
  geotuileur/gui/dashboard/wdg_dashboard.py
  geotuileur/gui/update_publication/qwp_update_publication_form.py
  geotuileur/gui/update_publication/qwp_update_status.py
  geotuileur/gui/update_publication/wzd_update_publication.py
  geotuileur/processing/update_publication.py
Due: flake8, test-unit, test-qgis

minor fixes
  geotuileur/gui/update_publication/qwp_update_publication_form.py
  geotuileur/processing/update_publication.py
Due: flake8, test-unit, test-qgis

minor fixex
  geotuileur/api/configuration.py
  geotuileur/gui/update_publication/qwp_update_publication_form.py
  geotuileur/gui/update_publication/qwp_update_status.py
  geotuileur/gui/update_publication/wzd_update_publication.py
Due: flake8, test-unit, test-qgis

add wizard page for sample generation
  geotuileur/gui/tile_creation/qwp_tile_generation_generalization.py
  geotuileur/gui/tile_creation/qwp_tile_generation_sample.py
  geotuileur/gui/tile_creation/qwp_tile_generation_sample.ui
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
  geotuileur/gui/tile_creation/wzd_tile_creation.py
Due: flake8, test-unit, test-qgis

add method to get selected stored data
  geotuileur/gui/cbx_stored_data.py
Due: flake8, test-unit, test-qgis

fix bounding box definition in help
  geotuileur/processing/tile_creation.py
Due: flake8, test-unit, test-qgis

add button to display stored data extent in QGIS
  geotuileur/gui/report/dlg_report.py
  geotuileur/gui/report/dlg_report.ui
Due: flake8, test-unit, test-qgis

create QgsVectorLayer from geojson defined in extent key
  geotuileur/api/stored_data.py
Due: flake8, test-unit, test-qgis

update translation
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

display supported files in upload creation widget
  geotuileur/gui/upload_creation/wdg_upload_creation.ui
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

check attribute instead of class instance for feedback of created pyramid id
  geotuileur/processing/tile_creation.py
Due: flake8, test-unit, test-qgis

wait for tile creation to delete vector db stored data
  geotuileur/processing/tile_creation.py
Due: flake8, test-unit, test-qgis

add sleep when waiting for upload close or database integration
  geotuileur/processing/update_tile_upload.py
Due: flake8, test-unit, test-qgis

use TileCreationProcessingFeedback to get created pyramid id before processing end.
  geotuileur/gui/tile_creation/qwp_tile_generation_status.py
Due: flake8, test-unit, test-qgis

Make how QgsSettings are loaded into preferences dataclasse much simpler
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

Ajout badge sonar
  README.md
Due: pages

Bump to version 0.9.0
  CHANGELOG.md
  geotuileur/metadata.txt
Due: pages

Bump tests
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

Add reset button
  geotuileur/gui/dlg_settings.py
  geotuileur/gui/dlg_settings.ui
Due: flake8, test-unit, test-qgis

Add API appendices URL
  geotuileur/gui/dlg_settings.py
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

Apply production URLs #6
  geotuileur/toolbelt/preferences.py
Due: flake8, test-unit, test-qgis

Update translations
  geotuileur/gui/dlg_settings.ui
  geotuileur/resources/i18n/geotuileur_fr.ts
Due: none

hotfix: bad test values
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

Fix test auth id type
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

Fix none test
  tests/qgis/test_plg_preferences.py
Due: flake8, test-unit, test-qgis

display zoom level in labels
  geotuileur/gui/tile_creation/qwp_tile_generation_edition.py
  geotuileur/gui/tile_creation/qwp_tile_generation_edition.ui
Due: flake8, test-unit, test-qgis

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
