Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt

update(ci): formatting every YAML files
  .github/workflows/documentation.yml
  .github/workflows/linter.yml
  .github/workflows/package_and_release.yml
  .github/workflows/tester.yml
Due: none

update(plugin): setting version suffix to -DEV to make it easier to distinguish from future published version
  geoplateforme/metadata.txt
Due: none

fix(ci): plugin repository was not include in doc
  .github/workflows/package_and_release.yml
Due: none

fix(ci): improve conditions to trigger docs push on workflow_run also
  .github/workflows/documentation.yml
Due: none

fix(init): plg_settings.qgis_auth_id can be None and so have no length
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

fix(auth): make QGIS auth configuration map JSON compliant before loading it as JSON
  geoplateforme/api/custom_exceptions.py
  geoplateforme/datamodels/oauth2_configuration.py
  geoplateforme/gui/dlg_authentication.py
Due: flake8, test-unit, test-qgis

fix(auth): add missing docstring
  geoplateforme/datamodels/oauth2_configuration.py
Due: flake8, test-unit, test-qgis

feature(packaging): include oAuth credentials from GH Actions secrets during packaging steps
  .github/workflows/package_and_release.yml
  geoplateforme/auth/oauth2_config.json
Due: none

update(ci): trigger packaging when dependencies and workflow are modified in a PR
  .github/workflows/package_and_release.yml
Due: none

feature(packaging): include oAuth credentials from GH Actions secrets during packaging steps (on tags also)
  .github/workflows/package_and_release.yml
Due: none

feature(dashboard): add new UI to fit IGNGPF-4830
  geoplateforme/api/stored_data.py
  geoplateforme/api/upload.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/dashboard_old/__init__.py
  geoplateforme/gui/dashboard_old/dlg_dashboard_old.py
  geoplateforme/gui/dashboard_old/dlg_dashboard_old.ui
  geoplateforme/gui/dashboard_old/wdg_dashboard_old.py
  geoplateforme/gui/dashboard_old/wdg_dashboard_old.ui
  geoplateforme/gui/mdl_dataset.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/gui/mdl_upload.py
  geoplateforme/gui/proxy_model_stored_data.py
  geoplateforme/plugin_main.py
  geoplateforme/resources/images/datastore/bac-a-sable_old.svg
Due: flake8, test-unit, test-qgis

feature(dashboard): add stored data details
  geoplateforme/api/stored_data.py
  geoplateforme/api/upload.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.ui
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
  geoplateforme/gui/report/wdg_upload_log.py
  geoplateforme/gui/storage/dlg_storage_report.py
Due: flake8, test-unit, test-qgis

feature(metadata): add QgsMetadataWidget in dashboard to display metadata
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
Due: flake8, test-unit, test-qgis

refactor(processing): refactor processings with NetworkManager and update docstrings
  geoplateforme/api/processing.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/report/wdg_execution_log.py
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

feature(report): loading report on demand
  geoplateforme/api/check.py
  geoplateforme/api/processing.py
  geoplateforme/api/stored_data.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/dashboard/dlg_stored_data_details.ui
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/mdl_stored_data.py
  geoplateforme/processing/delete_data.py
Due: flake8, test-unit, test-qgis

refactor(dashboard): remove old dashboard
  geoplateforme/gui/dashboard_old/__init__.py
  geoplateforme/gui/dashboard_old/dlg_dashboard_old.py
  geoplateforme/gui/dashboard_old/dlg_dashboard_old.ui
  geoplateforme/gui/dashboard_old/wdg_dashboard_old.py
  geoplateforme/gui/dashboard_old/wdg_dashboard_old.ui
  geoplateforme/plugin_main.py
  geoplateforme/resources/images/datastore/bac-a-sable_old.svg
Due: flake8, test-unit, test-qgis

fix QT6 linter
  geoplateforme/gui/dashboard/dlg_stored_data_details.py
  geoplateforme/gui/dashboard/wdg_dashboard.py
Due: flake8, test-unit, test-qgis

feat(processing): check if processing starts with expected name
  geoplateforme/api/processing.py
Due: flake8, test-unit, test-qgis

feat(upload): enable upload creation in toolbar
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(api): add Content-Type header for post request
  geoplateforme/api/stored_data.py
  geoplateforme/api/upload.py
Due: flake8, test-unit, test-qgis

fix(stored data/upload): replace datastore by datastore_id and stored_data by stored_data_id
  geoplateforme/gui/report/dlg_report.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/update_tile_upload.py
  geoplateforme/processing/upload_creation.py
  geoplateforme/processing/upload_database_integration.py
  geoplateforme/processing/upload_publication.py
Due: flake8, test-unit, test-qgis

feat(upload): add path parameter for upload creation
  geoplateforme/api/upload.py
Due: flake8, test-unit, test-qgis

feat(upload): add datasheet_name tag for vector db creation
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
  geoplateforme/processing/upload_creation.py
  geoplateforme/processing/upload_database_integration.py
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

feat(vector db): add docstring for processing
  geoplateforme/processing/vector_db_creation.py
Due: flake8, test-unit, test-qgis

fix(processing): add content-type for processing execution POST
  geoplateforme/api/processing.py
Due: flake8, test-unit, test-qgis

fix(processing): replace datastore by datastore_id
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

fix(processing): launch_execution use datastore_id
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/upload_database_integration.py
Due: flake8, test-unit, test-qgis

fix(processing): use datastore_id instead of datastore to get processing execution
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geoplateforme/gui/upload_creation/qwp_upload_creation.py
Due: flake8, test-unit, test-qgis

feat(network manager): catch ConnectionError and raise exception
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

fix(user): fix community without user (https://github.com/Geoplateforme/plugin-qgis-geoplateforme/issues/15)
  geoplateforme/api/user.py
Due: flake8, test-unit, test-qgis

release: bump version to 0.2.0-beta1 (#19)
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

feat(stored data cbx): update typing and docstring
  geoplateforme/gui/cbx_stored_data.py
Due: flake8, test-unit, test-qgis

fix(tile generation): missing widget for error display
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.ui
Due: flake8, test-unit, test-qgis

fix(stored data cbx): use enum and not str for type and steps filter
  geoplateforme/gui/publication_creation/qwp_publication_form.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/gui/update_publication/qwp_update_publication_form.py
Due: flake8, test-unit, test-qgis

feat(tile generation): add dataset combobox
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.ui
Due: flake8, test-unit, test-qgis

feat(tile creation): remove TMS option
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/processing/tile_creation.py
  geoplateforme/processing/update_tile_upload.py
Due: flake8, test-unit, test-qgis

fix(stored data mdl): convert displayed status to enum for filter
  geoplateforme/gui/proxy_model_stored_data.py
Due: flake8, test-unit, test-qgis

feat(tile creation): update processing to add tags for dataset
  geoplateforme/gui/tile_creation/qwp_tile_generation_status.py
  geoplateforme/processing/tile_creation.py
Due: flake8, test-unit, test-qgis

feat(tile creation): enable tile creation from toolbar
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

feat(tile creation): update dataset at init
  geoplateforme/gui/tile_creation/qwp_tile_generation_edition.py
Due: flake8, test-unit, test-qgis
