Repository JulesGrillot/plugin-qgis-geoplateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, test-unit, test-qgis, pages

flake8:
  stage: 🐍 lint
  image: python:3.9-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_FOLDER --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_FOLDER --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

test-unit:
  stage: 🤞 test
  image: python:3.9-slim-buster
  before_script:
  - python3 -m pip install -U -r requirements/development.txt
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest -p no:qgis tests/unit
  artifacts:
    when: always
    reports:
  ...

test-qgis:
  stage: 🤞 test
  image: qgis/qgis:release-3_22
  before_script:
  - python3 -m pip install -U -r requirements/testing.txt
  script:
  - env PYTHONPATH=/usr/share/qgis/python:. pytest tests/qgis
  artifacts:
    when: always
    reports:
      junit: junit/test-results.xml
      coverage_report:
  ...

pages:
  stage: 🚀 deploy
  variables:
    GIT_STRATEGY: none
  needs:
  - builder
  - documentation
  script:
  - mkdir -p public
  - cp ${PROJECT_FOLDER}.*.zip public/
  - cp plugins.xml public/
  - cp -rf target/docs/* public/
  artifacts:
    paths:
    - public
    when: always

feat(user permission): add manager UserPermissionRequestManager
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/user_permission.py
Due: flake8, test-unit, test-qgis

feat(user access): add widget to define IP filter
  geoplateforme/gui/user_keys/wdg_user_key_ip_filter.py
  geoplateforme/gui/user_keys/wdg_user_key_ip_filter.ui
Due: flake8, test-unit, test-qgis

feat(user permission): add model to display user permission
  geoplateforme/gui/user_keys/mdl_user_permissions.py
Due: flake8, test-unit, test-qgis

feat(user key): add dialog for user key creation
  geoplateforme/gui/user_keys/dlg_user_key_creation.py
  geoplateforme/gui/user_keys/dlg_user_key_creation.ui
  geoplateforme/gui/user_keys/wdg_user_key_creation.py
  geoplateforme/gui/user_keys/wdg_user_key_creation.ui
  geoplateforme/gui/user_keys/wdg_user_keys.py
  geoplateforme/gui/user_keys/wdg_user_keys.ui
Due: flake8, test-unit, test-qgis

feat(user key): add accesses for selected offering after key creation
  geoplateforme/gui/user_keys/dlg_user_key_creation.py
  geoplateforme/gui/user_keys/mdl_user_permissions.py
  geoplateforme/gui/user_keys/wdg_user_key_creation.py
Due: flake8, test-unit, test-qgis

feat(user key): define tab stop
  geoplateforme/gui/user_keys/wdg_user_key_creation.ui
Due: none

fix(user key): can't pass list as processing parameter must create string
  geoplateforme/gui/user_keys/wdg_user_key_creation.py
Due: flake8, test-unit, test-qgis

fix(dataprovider): remove provider from sourceSelectProviderRegistry at unload
  geoplateforme/plugin_main.py
Due: flake8, test-unit, test-qgis

refactor(processing): remove unused processing and dead code
  docs/usage/processings.md
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/update_publication/qwp_status.ui
  geoplateforme/gui/update_publication/qwp_update_publication.ui
  geoplateforme/gui/update_publication/qwp_update_publication_form.py
  geoplateforme/gui/update_publication/qwp_update_status.py
  geoplateforme/gui/update_publication/wzd_update_publication.py
  geoplateforme/gui/update_tile_upload/__init__.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_edition.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_edition.ui
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_edition.ui.autosave
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.py
  geoplateforme/gui/update_tile_upload/qwp_update_tile_upload_run.ui
  geoplateforme/gui/update_tile_upload/wzd_update_tile_upload.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/unpublish.py
  geoplateforme/processing/update_tile_upload.py
  geoplateforme/processing/vector_db_creation.py
  geoplateforme/resources/help/vector_db_creation.md
  geoplateforme/resources/i18n/plugin_translation.pro
Due: flake8, test-unit, test-qgis, pages

feat(user key) : init display of key
  geoplateforme/gui/user_keys/mdl_user_keys.py
  geoplateforme/gui/user_keys/wdg_user_key.py
  geoplateforme/gui/user_keys/wdg_user_key.ui
  geoplateforme/gui/user_keys/wdg_user_keys.py
Due: flake8, test-unit, test-qgis

wip(key access): init manager to get accesses for a key
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/key_access.py
Due: flake8, test-unit, test-qgis

feat(user key): display available access key by checking offering
  geoplateforme/api/key_access.py
  geoplateforme/api/permissions.py
  geoplateforme/gui/user_keys/mdl_user_permissions.py
  geoplateforme/gui/user_keys/wdg_user_key.py
  geoplateforme/gui/user_keys/wdg_user_key.ui
Due: flake8, test-unit, test-qgis

feat(user key): add processing for key delete
  docs/usage/processings.md
  geoplateforme/processing/provider.py
  geoplateforme/processing/user_key/delete_key.py
  geoplateforme/resources/help/delete_key.md
  tests/qgis/processings/user_key/test_key_delete.py
Due: flake8, test-unit, test-qgis, pages

feat(user key): add button to delete key
  geoplateforme/gui/user_keys/wdg_user_key.py
  geoplateforme/gui/user_keys/wdg_user_key.ui
  geoplateforme/gui/user_keys/wdg_user_keys.py
Due: flake8, test-unit, test-qgis

feat(user key): add button to delete selected ip - add new widget IpFilterTableWidget to mutualize code for blacklist and whitelist - add button to delete selected ip
  geoplateforme/gui/user_keys/wdg_ip_filter_table.py
  geoplateforme/gui/user_keys/wdg_ip_filter_table.ui
  geoplateforme/gui/user_keys/wdg_user_key_ip_filter.py
  geoplateforme/gui/user_keys/wdg_user_key_ip_filter.ui
Due: flake8, test-unit, test-qgis

fix(user key): select radiobutton for white or black list
  geoplateforme/gui/user_keys/wdg_user_key_ip_filter.py
Due: flake8, test-unit, test-qgis

feat(user key): add specific component for IP CIDR adress edit
  geoplateforme/gui/user_keys/wdg_ip_filter_table.py
  geoplateforme/gui/user_keys/wdg_ip_filter_table.ui
  geoplateforme/toolbelt/lne_ip_cidr_adress.py
Due: flake8, test-unit, test-qgis

feat(user key): display only permission with end date over now
  geoplateforme/api/permissions.py
  geoplateforme/gui/user_keys/proxy_model_user_permissions.py
  geoplateforme/gui/user_keys/wdg_user_key.py
  geoplateforme/gui/user_keys/wdg_user_key_creation.py
Due: flake8, test-unit, test-qgis

feat(user key): check that at least one offering is selected
  geoplateforme/gui/user_keys/dlg_user_key_creation.py
Due: flake8, test-unit, test-qgis

feat(network manager): add function for PATCH method - need to use QgsNetworkAccessManager because there is no patch method for QgsBlockingNetworkRequest
  geoplateforme/toolbelt/network_manager.py
Due: flake8, test-unit, test-qgis

feat(user permission): add option to make model non editable
  geoplateforme/gui/user_keys/mdl_user_permissions.py
Due: flake8, test-unit, test-qgis

feat(user key): add processing for key update
  docs/usage/processings.md
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/user_key.py
  geoplateforme/processing/provider.py
  geoplateforme/processing/user_key/update_key.py
  geoplateforme/resources/help/update_key.md
  tests/qgis/processings/user_key/test_key_update.py
Due: flake8, test-unit, test-qgis, pages

fix(delete offering): remove print
  geoplateforme/processing/tools/delete_offering.py
Due: flake8, test-unit, test-qgis

feat(user key): add update button to use processing - change UI to enable modification - use processing to update user key
  geoplateforme/gui/user_keys/wdg_ip_filter_table.py
  geoplateforme/gui/user_keys/wdg_user_key.py
  geoplateforme/gui/user_keys/wdg_user_key.ui
  geoplateforme/gui/user_keys/wdg_user_key_ip_filter.py
  geoplateforme/gui/user_keys/wdg_user_keys.py
Due: flake8, test-unit, test-qgis

feat(user key): allow use of empty black and white list for update
  geoplateforme/api/user_key.py
  geoplateforme/processing/user_key/update_key.py
Due: flake8, test-unit, test-qgis

feat(permission): add processing for update and delete
  docs/usage/processings.md
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/permissions.py
  geoplateforme/processing/permissions/delete_permission.py
  geoplateforme/processing/permissions/update_permission.py
  geoplateforme/processing/provider.py
  geoplateforme/resources/help/delete_permission.md
  geoplateforme/resources/help/update_permission.md
  tests/qgis/processings/permissions/test_permission_delete.py
  tests/qgis/processings/permissions/test_permission_update.py
Due: flake8, test-unit, test-qgis, pages

feat(models): add function to check offerings and fix edition mode for user permissions
  geoplateforme/gui/mdl_offering.py
  geoplateforme/gui/user_keys/mdl_user_permissions.py
Due: flake8, test-unit, test-qgis

feat(permission): add widget to display and update permission
  geoplateforme/gui/dashboard/wdg_service_details.ui
  geoplateforme/gui/permissions/wdg_permission.py
  geoplateforme/gui/permissions/wdg_permission.ui
  geoplateforme/gui/permissions/wdg_permissions.py
Due: flake8, test-unit, test-qgis

fix(permission): incorrect end date display and used in processing
  geoplateforme/api/permissions.py
  geoplateforme/gui/permissions/mdl_permissions.py
  geoplateforme/gui/permissions/wdg_permission.py
  geoplateforme/gui/permissions/wdg_permission_creation.py
Due: flake8, test-unit, test-qgis

feat(permission): update cursor for widget creation
  geoplateforme/gui/permissions/wdg_permissions.py
Due: flake8, test-unit, test-qgis

feat(dashboard): move button and add permission widget
  geoplateforme/gui/dashboard/wdg_dashboard.py
  geoplateforme/gui/dashboard/wdg_dashboard.ui
Due: flake8, test-unit, test-qgis

feat(permission): display public community for creation
  geoplateforme/api/catalogs.py
  geoplateforme/api/custom_exceptions.py
  geoplateforme/api/user.py
  geoplateforme/gui/mdl_community.py
Due: flake8, test-unit, test-qgis

fix(processing): add output to be able to use processing in QGIS modeler
  geoplateforme/processing/generation/create_raster_tiles_from_wms_vector.py
  geoplateforme/processing/generation/tile_creation.py
  geoplateforme/processing/generation/upload_database_integration.py
  geoplateforme/processing/permissions/create_permission.py
  geoplateforme/processing/publication/upload_publication.py
  geoplateforme/processing/publication/wfs_publication.py
  geoplateforme/processing/publication/wms_publication.py
  geoplateforme/processing/publication/wms_raster_publication.py
  geoplateforme/processing/publication/wmts_publication.py
  geoplateforme/processing/tools/check_layer.py
  geoplateforme/processing/tools/create_geoserver_style.py
  geoplateforme/processing/upload/upload_from_files.py
  geoplateforme/processing/upload/upload_from_layers.py
  geoplateforme/processing/user_key/create_basic_key.py
  geoplateforme/processing/user_key/create_hash_key.py
  geoplateforme/processing/user_key/create_oauth_key.py
  geoplateforme/resources/help/check_layers.md
  geoplateforme/resources/help/create_permission.md
  geoplateforme/resources/help/tile_creation.md
  geoplateforme/resources/help/upload_database_integration.md
  tests/qgis/processings/permissions/test_permission_creation.py
Due: flake8, test-unit, test-qgis, pages

fix(user key): exception raised when no end date defined
  geoplateforme/gui/user_keys/proxy_model_user_permissions.py
Due: flake8, test-unit, test-qgis

feat(user key) : add label for oauth2
  geoplateforme/gui/user_keys/wdg_user_key_creation.ui
Due: none

feat(permission): add custom line edit for UUID
  geoplateforme/gui/permissions/wdg_permission_creation.py
  geoplateforme/gui/permissions/wdg_permission_creation.ui
  geoplateforme/toolbelt/lne_uuid.py
Due: flake8, test-unit, test-qgis

feat(permission): add button to delete user and community
  geoplateforme/gui/permissions/wdg_permission_creation.py
  geoplateforme/gui/permissions/wdg_permission_creation.ui
Due: flake8, test-unit, test-qgis

feat(user key): add button to refresh values
  geoplateforme/gui/user_keys/wdg_user_keys.py
  geoplateforme/gui/user_keys/wdg_user_keys.ui
Due: flake8, test-unit, test-qgis

release: bump version to 0.8.0
  CHANGELOG.md
  geoplateforme/metadata.txt
Due: pages

feat(annexe): add processing to create an annex
  docs/usage/processings.md
  geoplateforme/api/annexes.py
  geoplateforme/api/custom_exceptions.py
  geoplateforme/processing/annexes/create_annexe.py
  geoplateforme/processing/provider.py
  geoplateforme/resources/help/create_annexe.md
  tests/qgis/processings/annexes/test_create_annexe.py
Due: flake8, test-unit, test-qgis, pages

Path conditions:
  flake8: any of: **/*.py
  test-unit: any of: **/*.py, .gitlab-ci.yml
  test-qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, vectiler/**/*, requirements/documentation.txt, requirements/packaging.txt
